<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>度假屋、民宿、体验和攻略 - Airbnb爱彼迎</title>
		<script src="../../js/comment.js"></script>
		<link rel="stylesheet" type="text/css" href="../../layui/css/layui.css">
		<script src="../../js/jquery.min.js"></script>
		<script src="../../layui/layui.js"></script>
		<style type="text/css">
			#navId li a {
				font-size: 15px;
				color: white;
				font-weight: bold;
			}

			#rightNav {
				float: right;
			}

			#main {
				width: 660px;
				height: 100%;
				margin-left: 650px;
				margin-top: 40px;
			}

			#main img {
				border-radius: 10px;
			}

			#foot {
				margin-top: 590px;
				width: 1090px;
				margin-left: 550px;
			}
		</style>
	</head>
	<body>
		<div id="top">
			<ul class="layui-nav layui-bg-green" id="navId">
				<li class="layui-nav-item">
					<a href="index.html">
						<img src="../../img/logo.jpg" style="border-radius: 50%;" width="49px" height="49px">
					</a>
				</li>
				<div id="rightNav">
					<li class="layui-nav-item"><a href="">故事</a></li>
					<li class="layui-nav-item" style="cursor: pointer;"><a class="NavA" data-method="login">注册</a></li>
					<li class="layui-nav-item" style="cursor: pointer;"><a class="NavA" data-method="login">登录</a></li>
				</div>
			</ul>
		</div>
		<div id="main">
			<div id="article">
				<div class="layui-col-xs10">
					<a href="">
						<img src="../../img/ReleaseRoom/1.jpg" style="border-radius: 50%;" width="50px" height="50px">
						<h2>Haku</h2>
					</a>
				</div>
				<div id="myBtn" class="layui-col-xs2">
					<button style="margin-top:15px;" type="button" class="layui-btn">删除</button>
				</div><br>
				<div style="margin-top: 30px;" class="layui-col-xs12">
					<img src="../../img/story/e19adcd4-1c48-4eeb-b855-1987a414b951.jpg" width="660px" height="880px">
				</div>
				<div style="margin-top: 30px;" class="layui-col-xs12">
					<img src="../../img/story/e19adcd4-1c48-4eeb-b855-1987a414b951.jpg" width="660px" height="880px">
				</div>
				<div style="margin-top: 30px;" class="layui-col-xs12">
					<img src="../../img/story/e19adcd4-1c48-4eeb-b855-1987a414b951.jpg" width="660px" height="880px">
				</div>
				<div style="margin-top: 30px;" class="layui-col-xs12">
					<h1><b>民宿 | 假装度假系列 来深圳一定要住的超美独栋泳池别墅</b></h1>
				</div>
				<div style="margin-top: 30px; color: gray;" class="layui-col-xs12">
					<h2>最近深圳天气真的太好啦 忍不住打卡深圳超美的独栋泳池别墅拍了一组泳装照～
						在这里可以拍出假装在国外度假的大片！
						拍照圣地本地了！
						民宿地址：不知处
						龙华区梅花山庄 周围很繁华宵夜可以尽情的点
						定的是ins风白色北欧房 大概500左右
						民宿整体是超ins度假风的装修风格 房间一共有四个 每个房间都是不同的装修主题哦
						最值得拍照的点就是别墅的透明玻璃泳池了 真的非常非常好出片！拍泳衣装的最佳地点！随随便便都能拍出国外小清新度假的feel
						建议穿颜色比较鲜艳的裙子或泳衣拍
						深圳最近的天气其实穿泳衣拍不会太冷 下午两三点拍的时候阳光正好！
						个人推荐入住的房型就是北欧全白房 浴缸拍照超美！
						民宿其他地点也很好拍的 老板布置的真的超有心 三楼最近还装了新的小木屋 有兴趣的仙女可以赶在年前入住体验一次啦～</h2>
				</div>
				<div style="margin-top: 30px;" class="layui-col-xs12">
					<h4><b>9人已赞</b></h4>
				</div>
				<div style="margin-top: 30px;" class="layui-col-xs12">
					<h4>本次旅行选择的房源</h4>
				</div>
				<hr>
				<div style="margin-top: 30px;" class="layui-col-xs12">
					<a href="">
						<div class="layui-col-xs2">
							<img src="../../img/room/640de340-cd72-4c32-ac24-e0f2515154a7.jpg" width="100px" height="100px">
						</div>
						<div class="layui-col-xs10">
							<h3>美式田园风一室/东门老街/万象城/莫兰迪色/罗湖口岸/京基100/落地窗观景</h3>
							<h3>整套房子/公寓</h3>
							<h3>￥449</h3>
						</div>
					</a>
				</div>
				<div class="layui-col-xs12" id="" style=" margin-left:250px;line-height: 120px; text-align: center; margin-top: 70px; border-radius: 50%;width: 120px;height:120px; border:1px solid gray;">
					<i id="praiseBtn" class="layui-icon layui-icon-praise" style="font-size: 60px; color: #AFB5C1;"></i>
				</div>
				
			</div>
			<div style="margin-top: 400px;" id="comment">
				<div style="margin-top: 10px;" class="layui-col-xs12">
					<h2><b>3条评论</b></h2>
				</div><br><br>
				<div style="margin-top: 50px;">
					<a href="">
						<div class="layui-col-xs1">
							<img src="../../img/ReleaseRoom/1.jpg" style="border-radius: 50%;" width="40px" height="40px">
						</div>
						<div class="layui-col-xs8">
							<h3>Haku</h3>
							<h3>2019年7月</h3>
						</div>
					</a>
					<br><br><br><br>
					<h2>真好看 喜欢你!你有VX吗?我们的民宿想你来体验!</h2>
					<hr>
				</div>
				<div style="margin-top: 50px;">
					<a href="">
						<div class="layui-col-xs1">
							<img src="../../img/ReleaseRoom/1.jpg" style="border-radius: 50%;" width="40px" height="40px">
						</div>
						<div class="layui-col-xs8">
							<h3>Haku</h3>
							<h3>2019年7月</h3>
						</div>
					</a>
					<br><br><br><br>
					<h2>真好看 喜欢你!你有VX吗?我们的民宿想你来体验!</h2>
					<hr>
				</div>
			</div>
			<div id="other">
				<div style="border:1px solid grey; margin-top: 20px;width: 600px;height: 100px;" id="edit">
					<div class="layui-form-item layui-form-text">
						<textarea id="myComment" placeholder="请输入评论内容" class="layui-textarea"></textarea><br>
						<button id="myCommentBtn" type="button" class="layui-btn">评论</button>
					</div>
				</div>
				<h2 style="margin-top: 150px;"><b>相关故事</b></h2>
				<div style="margin-top: 50px;" id="likeArticle">
					<div class="layui-col-xs4">
						<a href="">
							<img src="../../img/story/e19adcd4-1c48-4eeb-b855-1987a414b951.jpg" width="200px" height="260px260px">
							<h3>里昂里昂，某一天再会</h3>
							<h4>2019/12/21 - 12/22 · 1晚</h4>
							<h3>订单待支付 · ￥626.24</h3>
						</a><br>
					</div>
					<div class="layui-col-xs4">
						<a href="">
							<img src="../../img/story/e19adcd4-1c48-4eeb-b855-1987a414b951.jpg" width="200px" height="260px">
							<h3>里昂里昂，某一天再会</h3>
							<h4>2019/12/21 - 12/22 · 1晚</h4>
							<h3>订单待支付 · ￥626.24</h3>
						</a><br>
					</div>
					<div class="layui-col-xs4">
						<a href="">
							<img src="../../img/story/e19adcd4-1c48-4eeb-b855-1987a414b951.jpg" width="200px" height="260px">
							<h3>里昂里昂，某一天再会</h3>
							<h4>2019/12/21 - 12/22 · 1晚</h4>
							<h3>订单待支付 · ￥626.24</h3>
						</a><br>
					</div>
				</div>
			</div>
		</div>

		<div id="foot">
			<div>
				<div>京ICP备16017121号-3 京ICP证 160773号
					<img src="https://z1.muscache.cn/airbnb/static/packages/public_security_bureau_logo.d0289dc0.png" alt="中国公安局标志">
					<a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502032345" target="_blank" rel="noopener noreferrer"
					 aria-busy="false">京公网安备 11010502032345号</a>
					技术支持：卓应教育（湖南）有限公司 <a href="https://a0.muscache.com/pictures/03ec62da-f467-4e2b-bfee-6eefd052d7f5.jpg" target="_blank"
					 rel="noopener noreferrer" aria-busy="false">营业执照</a></div>
				<div dir="ltr">© 2019 Airbnb, Inc. All rights reserved.</div>
			</div>
			<br><br><br><br><br><br>
		</div>
	</body>
	<script type="text/javascript">
		var userInfo = {
			user_id: '1002',
			user_name: 'haku',
			user_img: '../../img/timg.jpg',
			islanlord: 1
		};
		var article = {
			// article_id: 3,
			// article_name: '上海魔都民宿 | 人均300入住魔都小众超民国风复古民宿！',
			// article_images: ['../../img/story/e19adcd4-1c48-4eeb-b855-1987a414b951.jpg',
			// 	'../../img/story/9b678664-6ba3-48d1-bd69-66a475609ab8.jpg',
			// 	'../../img/story/e19adcd4-1c48-4eeb-b855-1987a414b951.jpg',
			// 	'../../img/story/e19adcd4-1c48-4eeb-b855-1987a414b951.jpg'
			// ],
			// user_img: '../../img/timg.jpg',
			// user_name: 'HaKu',
			// user_id: '1001',
			// article_content: '最近深圳天气真的太好啦 忍不住打卡深圳超美的独栋泳池别墅拍了一组泳装照～在这里可以拍出假装在国外度假的大片！拍照圣地本地了!' +
			// 	'民宿地址：不知处龙华区梅花山庄 周围很繁华宵夜可以尽情的点定的是ins风白色北欧房 大概500左右民宿整体是超ins度假风的装修风格 房间一共有四个 每个房间都是不同的装修主题哦' +
			// 	'最值得拍照的点就是别墅的透明玻璃泳池了 真的非常非常好出片！拍泳衣装的最佳地点！随随便便都能拍出国外小清新度假的feel建议穿颜色比较鲜艳的裙子或泳衣拍' +
			// 	'深圳最近的天气其实穿泳衣拍不会太冷 下午两三点拍的时候阳光正好！个人推荐入住的房型就是北欧全白房 浴缸拍照超美！' +
			// 	'民宿其他地点也很好拍的 老板布置的真的超有心 三楼最近还装了新的小木屋 有兴趣的仙女可以赶在年前入住体验一次啦～',
			// article_praise: 20,
			// article_collect: 12,
			// articleInfo: [{
			// 		article_id: '1',
			// 		article_name: '上海魔都民宿 | 人均300入住魔都小众超民国风复古民宿！',
			// 		article_img: '../../img/story/e19adcd4-1c48-4eeb-b855-1987a414b951.jpg',
			// 		user_img: '../../img/timg.jpg',
			// 		article_praise: 20,
			// 		article_collect: 12
			// 	},
			// 	{
			// 		article_id: '1',
			// 		article_name: '上海魔都民宿 | 人均300入住魔都小众超民国风复古民宿！',
			// 		article_img: '../../img/story/e19adcd4-1c48-4eeb-b855-1987a414b951.jpg',
			// 		user_img: '../../img/timg.jpg',
			// 		article_praise: 20,
			// 		article_collect: 12
			// 	},
			// 	{
			// 		article_id: '1',
			// 		article_name: '上海魔都民宿 | 人均300入住魔都小众超民国风复古民宿！',
			// 		article_img: '../../img/story/9b678664-6ba3-48d1-bd69-66a475609ab8.jpg',
			// 		user_img: '../../img/timg.jpg',
			// 		article_praise: 20,
			// 		article_collect: 12
			// 	}
			// ],
			// house: {
			// 	house_id: '1',
			// 	house_name: '美式田园风一室/东门老街/万象城/莫兰迪色/罗湖口岸/京基100/落地窗观景',
			// 	house_img: '../../img/story/e19adcd4-1c48-4eeb-b855-1987a414b951.jpg',
			// 	house_price: '999',
			// 	house_type: '整套公寓'
			// }
		}
		article_comment= [];
		
		var url=window.location.search; //获取url中"?"符后的字串
			if(url.indexOf("?")!=-1) {
				var article_id = url.substr(url.indexOf("=")+1);
		     }
		//article_id =23
		//请求后端拿到指定文章信息
		$.getJSON(basePath+"article.do?method=getOneArticleInfo&callback=?",
		{"article_id":article_id},function(res){
			console.log(res.oneArticleInfo);
			article = res.oneArticleInfo;
			console.log(article);
			getArticle();
		});
		// getArticle();
		json = getCookie('userInfo');
		if (json != '' || json == null) {
			jsonInfo = JSON.parse(json);
			if (jsonInfo != null) {
				userInfo = jsonInfo;
				console.log(userInfo);
			}
		}
		//初始化导航栏
		if (userInfo.user_id != null) {
			var html = '<li class="layui-nav-item " id="china"> <a href="../user/myOrder.html" >房源订单中心</a></li>' +
				'<li class="layui-nav-item"><a href="../story/index.html">故事</a></li>' +
				'<li class="layui-nav-item"><a href="#" id="notice">消息<span id="dot" class="layui-badge-dot"></a> </li>' +
				' <li class="layui-nav-item" lay-unselect=""><a href="javascript:;"><img src="../../' +
				userInfo.user_headimg_url + '" class="layui-nav-img">' + userInfo.user_name + '</a> ' +
				'<dl class="layui-nav-child"><dd><a href="landlord.html"  style="color: gray;">个人中心</a></dd>' +
				' <dd><a href="../user/modifyInfo.html" style="color: gray;">修改信息</a></dd><dd><a href="javascript:;" id="quit" style="color: gray;">退了</a></dd></dl>';
			$("#rightNav").empty();
			$("#rightNav").append(html);
			if (userInfo.islanlord != 1) {
				$("#china").after('<li class="layui-nav-item "> <a href="javascript:;">我的房源</a>' +
					'<dl class="layui-nav-child"><dd><a href="../user/landlordOrder.html"  style="color: gray;">订单信息</a></dd>' +
					' <dd><a href="../user/myHouse.html" style="color: gray;">房源信息</a></dd></dl>' + '</li>' +
					'<li class="layui-nav-item "><a href="create_a_room/room.html">添加房源</a></li>');
			} else {
				$("#china").after('<li class="layui-nav-item "> <a href="">成为房东</a></li>');
			}

		}
		//退出按钮监听
		$("body").on("click", "#quit", function() {
			setCookie("userInfo", null, 0.1);
			location.href = "../index.html";
		});
		//获取Cookie
		function getCookie(cname) {
			var name = cname + "=";
			var decodedCookie = decodeURIComponent(document.cookie);
			var ca = decodedCookie.split(';');
			for (var i = 0; i < ca.length; i++) {
				var c = ca[i];
				while (c.charAt(0) == ' ') {
					c = c.substring(1);
				}
				if (c.indexOf(name) == 0) {
					return c.substring(name.length, c.length);
				}
			}
			return "";
		}
		function getArticle() {
			$('title').text(article.article_name);
			$("#article").empty();
			html = '<div class="layui-col-xs10"><a href="">' +
				'<img src="../../' + article.user_headimg_url + '" style="border-radius: 50%;" width="50px" height="50px">' +
				'<h2>' + article.user_name + '</h2></a></div><div id="myBtn" class="layui-col-xs2"></div><br>';
			$("#article").append(html);
			$("#myBtn").empty();
			if (userInfo.user_id == article.user_id) {
				$("#myBtn").append('<button id="del" style="margin-top:15px;" type="button" class="layui-btn">删除</button>');
			}
			for (var j = 0; j < article.article_images.length; j++) {
				html = '<div style="margin-top: 30px;" class="layui-col-xs12">' +
					'<img src="../../' + article.article_images[j] + '"  width="660px" height="880px"></div>';
				$("#article").append(html);
			}
			html = '<div style="margin-top: 30px;" class="layui-col-xs12">' +
				'<h1><b>' + article.article_name + '</b></h1></div>' +
				'<div style="margin-top: 30px; color: gray;" class="layui-col-xs12">' +
				'<h2>' + article.article_content + '</h2></div><div style="margin-top: 40px;" class="layui-col-xs12">' +
				'<h4 id="pa">' + article.article_praise + '人已赞</h4></div>' +
				'<div style="margin-top: 30px;" class="layui-col-xs12">' +
				'<h4>本次旅行选择的房源</h4></div>' +
				'<hr ><div style="margin-top: 30px;" class="layui-col-xs12">' +
				'<a href=""><div  class="layui-col-xs2">' +
				'<img src="../../' + article.house.house_image_url + '" width="100px" height="100px">' +
				'</div><div  class="layui-col-xs10"><h3>' + article.house.house_name + '</h3><br>' +
				'<h3>' + article.house.house_type + '</h3><h3>￥' + article.house.house_price + '</h3></div>' +
				'</a></div><div class="layui-col-xs12"  style="cursor: pointer; margin-left:250px;line-height: 120px; text-align: center; margin-top: 70px; border-radius: 50%;width: 120px;height:120px; border:1px solid gray;">' +
				'<i id="praiseBtn" class="layui-icon layui-icon-praise"' +
				'style="font-size: 60px; color: #AFB5C1;"></i></div></div>';
			$("#article").append(html);
//			$("#article").append('<div style="margin-top: 450px;" id="comment"></>');
			getComment(article_comment);
			$("#other").empty();
			$("#other").append('<div style=" margin-top: 20px;width: 600px;height: 100px;"id="edit"></div>');
			$("#edit").empty();
			html='<div class="layui-form-item layui-form-text">'+
				'<textarea id="myComment" placeholder="请输入评论内容" class="layui-textarea"></textarea><br>'+
				'<button id="myCommentBtn" type="button" class="layui-btn">评论</button>';
			$("#edit").append(html)	
			$("#other").append('<h2 style="margin-top: 150px;" ><b>相关故事</b></h2>');
			if(article.articleInfo.length <= 1) {
				$("#other").append("<br><br><h2>无</h2>");
			}else {
				for (var k = 0; k < article.articleInfo.length; k++) {
					html = '<div  class="layui-col-xs4"><a href="home.html?article_id=' +
						article.articleInfo[k].article_id + '">' +
						'<img src="../../' + article.articleInfo[k].article_img + '" width="200px" height="260px" >' +
						'<h3 style="height:60px;">' + article.articleInfo[k].article_name + '</h3><br>' +
						'<img src="../../' + article.articleInfo[k].user_img + '" width="30px" height="30px"  style="border-radius:50%;">' +
						'<i class="layui-icon layui-icon-praise" >' + article.articleInfo[k].article_praise + '</i>' +
						'<i class="layui-icon layui-icon-reply-fill" >' + article.articleInfo[k].article_collect + '</i>' +
						'</a><br></div>';
					$("#other").append(html);
				}
			}
			
		}
		
		function getComment(article_comment) {
			$("#comment").empty();
			$("#comment").append('<div style="margin-top: 40px;" class="layui-col-xs12"><h2><b>'+article_comment.length+'条评论</b></h2></div><br><br><br>')
			
			for (var j = 0; j < article_comment.length; j++) {
				html = '</div><div style="margin-top: 50px;"><a href="">' +
					'<div  class="layui-col-xs1"><img src="../../' + article_comment[j].user_img +
					'" style="border-radius: 50%;" width="40px" height="40px">' +
					'</div><div  class="layui-col-xs8"><h3>' + article_comment[j].user_name + '</h3>' +
					'<h3>' + article_comment[j].comment_date + '</h3></div></a>' +
					'<br><br><br><br><h2>' + article_comment[j].comment_content + '</h2><hr ></div>	';
				$("#comment").append(html);
			}
		}
		//回复
		$("body").on("click", ".replyBtn", function() {
			alert(11);
		});

		//评论
		$("body").on("click", "#myCommentBtn", function() {
			comment = $("#myComment").val();
			if(comment == ''){
				layer.msg("评论不能为空！")
				return;
			} 
			map = '{"user_id":"' + userInfo.user_id + '","article_id":"'+article.article_id+
			'","comment_content":"'+comment+'","replier_id":"'+userInfo.user_id+'"}'
			$.getJSON(basePath + "commen.do?method=addComment&callback=?", {
				"map": map
			}, function(res) {
				comment = res;
				layer.msg(res.msg);
				article_comment.push(comment);
				getComment(article_comment);
				$("#myComment").val('')
			});
		});
		//点赞
		bool = true;
		$("body").on("click", "#praiseBtn", function() {
			if (bool) {
				document.getElementById("praiseBtn").style.color = "red";
				map = '{"article_id":"'+article.article_id+'","article_praise":"'+(article.article_praise+1)+'"}'
				$.getJSON(basePath + "article.do?method=givePraiset", {
					"articleMap":map
				}, function(res) {
					$("#pa").text(res.article_praise+"人已赞")
				});
				bool = false;
			} else {
				document.getElementById("praiseBtn").style.color = "#AFB5C1";
				map = '{"article_id":"'+article.article_id+'","article_praise":"'+(article.article_praise-1)+'"}'
				$.getJSON(basePath + "article.do?method=givePraiset", {
					"articleMap":map
				}, function(res) {
					$("#pa").text(res.article_praise+"人已赞")
				});
				bool = true;
			}
		});
		
		$("body").on("click","#del",function() {
			layer.confirm('确定删除吗?', {icon: 3, title:'提示'}, function(index){
			  $.getJSON(basePath + "article.do?method=deleteArticle", {
			  	"article_id":article.article_id
			  }, function(res) {
				  if(res.hint > 0) {
					  layer.msg("删除成功！")
				  }else {
					  layer.msg("删除失败！")
					 }
				   layer.close(index);
			  });
			 
			});
		});
	</script>
	<script>
		layui.use(['form', 'element', 'layer', 'laypage', 'flow'], function() {
			var form = layui.form,
				$ = layui.jquery,
				layer = layui.layer,
				element = layui.element,
				laypage = layui.laypage,
				flow = layui.flow;
			//触发事件
			var active = {
				tabChange: function() {
					//切换到指定Tab项
					element.tabChange('demo', '22'); //切换到：用户管理
				}
			};

			$('.site-demo-active').on('click', function() {
				var othis = $(this),
					type = othis.data('type');
				active[type] ? active[type].call(this, othis) : '';
			});
			//流加载
			flow.load({
				elem: '#comment', //指定列表容器
				isAuto: false,
				done: function(page, next) { //到达临界点（默认滚动触发），触发下一页
					
					map='{"commPresentPage":"'+page+'","article_id":"'+article_id+'"}'
					//以jQuery的Ajax请求为例，请求下一页数据（注意：page是从2开始返回）
					$.get(basePath + "commen.do?method=getPageCommInfo",{
						"map":map
					} ,function(res) {
						
						//console.log(article_comment)
						layui.each(res.pageCommentInfo, function(index, item) {
							article_comment.push(res.pageCommentInfo[index]);
							console.log(article_comment)
							getComment(article_comment);
						});
							
						//执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
						//pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
						//next(lis.join(''), page < res.pages);
					},"json");
				}
			});

		});
	</script>
</html>
