<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>度假屋、民宿、体验和攻略 - QuadraL</title>
		<script src="../../js/comment.js"></script>
		<link rel="stylesheet" type="text/css" href="../../layui/css/layui.css">
		<script src="../../js/jquery.min.js"></script>
		<script src="../../layui/layui.js"></script>
		<style type="text/css">
			#navId li a {
				font-size: 15px;
				color: white;
				font-weight: bold;
			}

			#rightNav {
				float: right;
			}

			#main {
				width: 700px;
				height: 100%;
				margin-left: 590px;
				margin-top: 40px;
			}

			#main img {
				border-radius: 10px;
			}

			#foot {
				margin-top: 300px;
				width: 1090px;
				margin-left: 550px;
			}
		</style>
	</head>
	<body>
		<div id="top">
			<ul class="layui-nav layui-bg-green" id="navId">
				<li class="layui-nav-item">
					<a href="index.html">
						<img src="../../img/logo.jpg" style="border-radius: 50%;" width="49px" height="49px">
					</a>
				</li>
				<div id="rightNav">
					<li class="layui-nav-item"><a href="">故事</a></li>
					<li class="layui-nav-item" style="cursor: pointer;"><a class="NavA" data-method="login">注册</a></li>
					<li class="layui-nav-item" style="cursor: pointer;"><a class="NavA" data-method="login">登录</a></li>
				</div>
			</ul>
		</div>
		<div id="main">
			<div id="">
				<div class="layui-col-xs4">
					<span style="font-size: 40px;color: gray;font-weight:bolder;">
						发布故事
					</span>
				</div>
			</div><br><br>
			<div style=" margin-top: 50px;width: 700px;height: 80px;" id="edit">
				<input style="height:60px; font-size: 20px;" placeholder="故事标题" autocomplete="off" type="text" name="title" id="title"
				 class="layui-input" />
			</div>

			<div style=" margin-top: 20px;" id="img">
				<h2>上传故事图片</h2>
				<blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;width: 665px; ">
					预览图：
					<div class="layui-upload-list" id="look"></div>
				</blockquote>
				<div class="layui-upload-drag " id="uploadImg">
					<i class="layui-icon"></i>
					<p>点击上传，或将图片拖拽到此处</p>
				</div>
			</div>
			<div style=" margin-top: 30px;width: 665px; " id="content">
				<h2>故事内容</h2><br>
				<div class="layui-form-item layui-form-text">
					<textarea class="layui-textarea layui-hide" name="content" lay-verify="content" id="LAY_editor"></textarea>
				</div>
			</div><br>
			<button id="add" class="layui-btn">添加我的故事</button>
		</div>

		<div id="foot">
			<div>
				<div>京ICP备16017121号-3 京ICP证 160773号
					<img src="https://z1.muscache.cn/airbnb/static/packages/public_security_bureau_logo.d0289dc0.png" alt="中国公安局标志">
					<a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502032345" target="_blank" rel="noopener noreferrer"
					 aria-busy="false">京公网安备 11010502032345号</a>
					技术支持：卓应教育（湖南）有限公司 <a href="https://a0.muscache.com/pictures/03ec62da-f467-4e2b-bfee-6eefd052d7f5.jpg" target="_blank"
					 rel="noopener noreferrer" aria-busy="false">营业执照</a></div>
				<div dir="ltr">© 2019 Airbnb, Inc. All rights reserved.</div>
			</div>
			<br><br><br><br><br><br>
		</div>
	</body>
	<script>
		layui.use(['form', 'element', 'layer', 'upload', 'layedit'], function() {
			var form = layui.form,
				layer = layui.layer,
				element = layui.element,
				layedit = layui.layedit,
				upload = layui.upload;
			var url=window.location.search; //获取url中"?"符后的字串
				if(url.indexOf("?")!=-1) {
					var arr = url.split("&");
					var house_id =arr[0].substr(url.indexOf("=")+1);
					var order_id =arr[1].substr(url.indexOf("="));
					
			     }
			//创建一个编辑器
			var editIndex = layedit.build('LAY_editor', {
				height: 480, //设置编辑器高度
				tool: [
					'strong' //加粗
					, 'italic' //斜体
					, 'underline' //下划线
					, 'del' //删除线
					, '|' //分割线
					, 'left' //左对齐
					, 'center' //居中对齐
					, 'right' //右对齐
					, 'face' //表情
				]
			});
			console.log(layedit.getContent(editIndex));
			$("#add").on("click", function() {
				title = $("#title").val();
				content = layedit.getContent(editIndex);
				console.log(content);
				if (title != '' && content != '' && img.length >= 5) {
					map = '{"user_id":"' + userInfo.user_id + '","article_name":"' + title +
						'","house_id":"' + house_id +'","allArticleImg":"' + img + '","order_id":"'+order_id+'"}';
					$.getJSON(basePath + "article.do?method=addArticleInfo&callback=?", {
						"articleMap": map,"article_content":content 
					}, function(result) {
						layer.msg(result.msg);
						window.setTimeout (function() {
							//跳转界面
							location.href = "../user/myOrder.html";
						},1200);
					});
				} else {
					layer.msg("请填写完整！图片不能少于五张！")
				}
			});
			var uploadInst = upload.render({
				elem: '#uploadImg',
				url: basePath + 'article.do?method=uploadImg',
				headers: {
					"withCredentials": 'true'
				},
				multiple: true,
				before: function(obj) {
					obj.preview(function(index, file, result) {
						$('#look').append('<img width=600; height=800; src="' + result + '" alt="' + file.name +
							'" class="layui-upload-img">')
						//img.push(result+file.name);
					});
				},
				done: function(res) {
					//如果上传失败
					console.log(res.data.src);
					img.push(res.data.src);
					if (res.code > 0) {
						return layer.msg('上传失败');
					} else {
						return layer.msg('上传成功');
					}
				}
			});
		});
	</script>
	<script type="text/javascript">
		//利用Cookie拿到信息
		var noticeInfo=null;
		var userInfo =null;
		var article = {}
		var img = [];

		json = getCookie('userInfo');
		if (json != '' || json == null) {
			jsonInfo = JSON.parse(json);
			if (jsonInfo != null) {
				userInfo = jsonInfo;
				console.log(userInfo);
			}
		}
		//初始化导航栏
		if (userInfo != null) {
			var html = '<li class="layui-nav-item " id="china"> <a href="../user/myOrder.html" >房源订单中心</a></li>' +
				'<li class="layui-nav-item"><a href="../story/index.html">故事</a></li>' +
				'<li class="layui-nav-item"><a href="javascript:;" id="notice">消息<span id="dot" class="layui-badge-dot"></a> </li>' +
				' <li class="layui-nav-item" lay-unselect=""><a href="javascript:;"><img src="../../' +
				userInfo.user_headimg_url + '" class="layui-nav-img">' + userInfo.user_name + '</a> ' +
				'<dl class="layui-nav-child"><dd><a href="landlord.html"  style="color: gray;">个人中心</a></dd>' +
				' <dd><a href="../user/modifyInfo.html" style="color: gray;">修改信息</a></dd><dd><a href="javascript:;" id="quit" style="color: gray;">退了</a></dd></dl>';
			$("#rightNav").empty();
			$("#rightNav").append(html);
			if (userInfo.is_landlord == 1) {
				$("#china").after('<li class="layui-nav-item "> <a href="javascript:;">我的房源</a>' +
					'<dl class="layui-nav-child"><dd><a href="../user/landlordOrder.html"  style="color: gray;">订单信息</a></dd>' +
					' <dd><a href="../user/myHouse.html" style="color: gray;">房源信息</a></dd></dl>' + '</li>' +
					'<li class="layui-nav-item "><a href="../host/create_a_room/room.html">添加房源</a></li>');
			} else {
				$("#china").after('<li class="layui-nav-item "> <a href="../host/create_a_room/becomehtml">成为房东</a></li>');
			}
		
		}
		//退出按钮监听
		$("body").on("click", "#quit", function() {
			setCookie("userInfo", null, 0.1);
			location.href = "../index.html";
		});
		//设置cookie
		function setCookie(cname, cvalue, exdays) {
			var d = new Date();
			d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
			var expires = "expires=" + d.toUTCString();
			document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
		}
		//获取Cookie
		function getCookie(cname) {
			var name = cname + "=";
			var decodedCookie = decodeURIComponent(document.cookie);
			var ca = decodedCookie.split(';');
			for (var i = 0; i < ca.length; i++) {
				var c = ca[i];
				while (c.charAt(0) == ' ') {
					c = c.substring(1);
				}
				if (c.indexOf(name) == 0) {
					return c.substring(name.length, c.length);
				}
			}
			return "";
		}
		//通知
		function notice(html) {
			index = layer.open({
				type: 1,
				title: false,
				closeBtn: false,
				area: '320px',
				offset: ['50px', '1450px'],
				shade: 0.1,
				content: html,
				shadeClose: true
			});
		}
		//点击通知
		$("body").on("click", "#notice", function() {
			if (noticeInfo == null || noticeInfo.length == 0) {
				html =
					'<div style="width: 300px;height: 100%;"><div style="font-size:20px;text-align: center;" class="layui-col-xs10">消息(0)</div>' +
					'<br><br><hr><div id="content"><div style="margin-left: 90px;color: #31B0D5"><h2>暂无消息</h2><br></div>' +
					'</div></div>';
			} else {
				html =
					'<div style="width: 300px;height: 100%;"><div style="font-size:20px;text-align: left;" class="layui-col-xs10">消息(' +
					noticeInfo.length +
					') </div><div class="layui-col-xs2"style="text-align: right;"  ><button id="done" class="layui-btn layui-btn-primary layui-btn-sm">已读</button></div>' +
					'<br><br><hr><div id="content">';
				for (let i = 0; i < noticeInfo.length; i++) {
					h = '<div style="margin-left: 10px;color: #31B0D5"><div class="layui-col-xs9">' +
						'<h3>' + noticeInfo[i].notice_content + '</h3></div>' +
						'<div class="layui-col-xs3"><h5 style="margin-top:4px;">' + noticeInfo[i].notice_date + '</h5></div>' +
						'</div><br><br>';
					html = html + h;
				}
				html += '</div></div>';
			}
			notice(html);
		});
		
		function getNoticeInfo() {
			$.getJSON(basePath + "user.do?method=getNoticeByUserID", {
				"user_id": userInfo.user_id
			}, function(result) {
				noticeInfo = result.noticeInfo;
				console.log(noticeInfo)
				if (noticeInfo != null) {} else {
					$("#dot").remove();
				}
			});
		}
		//点击已读
		$("body").on("click", "#done", function() {
			$.getJSON(basePath + "user.do?method=updateNotice", {
				"user_id": userInfo.user_id
			}, function(res) {
				noticeInfo = null;
				layer.closeAll();
			});
		});
	</script>
</html>
