<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>度假屋、民宿、体验和攻略 - Airbnb爱彼迎</title>
		<script src="../js/comment.js"></script>
		<link rel="stylesheet" type="text/css" href="../layui/css/layui.css">
		<script src="../js/jquery.min.js"></script>
		<script src="../layui/layui.js"></script>
		<script type="text/javascript" src="../js/jquery.cookie.js"></script>
		<style type="text/css">
			#navId li a {
				font-size: 15px;
				color: white;
				font-weight: bold;
			}

			#rightNav {
				float: right;
			}
			#choose {
				height: 50px;
				border: 1px solid gainsboro;
				line-height: 50px;
			}
			
			select{
				width: 100px;
				height:38px;
				font-size: 17px;
			}

			#main {
				margin-top: 10px;
				position: absolute;
				width: 100%;
			}

			#main img {
				border-radius: 10px;
			}

			.foot {
				margin-top: 80%;
				width: 1090px;
				margin-left: 550px;
			}
		</style>
	</head>
	<body>
		<div id="top">
			<ul class="layui-nav layui-bg-green" id="navId">
				<li class="layui-nav-item">
					<a href="index.html">
						<img src="../img/logo.jpg" style="border-radius: 50%;" width="49px" height="49px">
					</a>
				</li>
				<li class="layui-nav-item ">
					<form class="layui-form" action="">
						<input id="topSearch" style=" width: 400px;height:48px; font-weight: bold; font-size: 20px; " name="search"
						 placeholder="搜一搜" autocomplete="off" class="layui-input">
					</form>
				</li>
				<div id="rightNav">
					<li class="layui-nav-item"><a href="">故事</a></li>
					<li class="layui-nav-item" style="cursor: pointer;"><a class="NavA" data-method="login">注册</a></li>
					<li class="layui-nav-item" style="cursor: pointer;"><a class="NavA" data-method="login">登录</a></li>
				</div>
			</ul>
		</div>
		<div id="choose">
			<div class="layui-col-xs6">
				<button type="button" id="dateChoose" class="layui-btn  layui-btn-green">12月21日 - 12月22日</button>
				<!-- <button type="button" data-method="setPrice" class="layui-btn layui-btn-primary">价格</button>
				<button type="button" data-method="setPersonNum" class="layui-btn layui-btn-primary">房源人数</button>
				<button type="button" class="layui-btn layui-btn-primary">建筑类型</button>
				<button type="button" class="layui-btn layui-btn-primary">出租类型</button> -->
				<button type="button"  data-method="more" class="layui-btn layui-btn-primary">更多筛选条件</button>
			</div>
		</div>
		<div id="main">
			<img src="../img/tag/8.gif">
			<span id="t1" style="font-size: 23px; "><b>300多处住宿</b></span><br><br>
			<div id="hosue">
				<!-- <div style="height: 420px;">
					<div class="layui-col-xs3">
						<a href="">
							<img  src="../img/room/ac356f32-0ba7-4dd8-9796-94d085e711fa.jpg"  width="460px" >
							<div class="layui-col-xs9">
								<h4>独立房间 · 1室1卫1床</h4>
								<h3>藝净- 复古花,太古里旁高层花园电影套房</h3>
								<h3>￥368 每晚</h3>
							</div>
							<div class="layui-col-xs3" >
								<img style="border-radius: 50%;" src="../img/timg.jpg" width="45px" height="45px" >
							</div>
						</a>
					</div>
					<div class="layui-col-xs3">
						<div class="layui-carousel" id="imgCarousel0">
						  <div carousel-item="">
							<div><a href=""><img  src="../img/room/ac356f32-0ba7-4dd8-9796-94d085e711fa.jpg"  width="460px" ></a></div>
							<div><a href=""><img  src="../img/room/bbe8b0d4-4613-4bb2-8c8a-7f45914f0919.jpg"  width="460px" ></a></div>
							<div><a href=""><img  src="../img/room/65e00580-6a91-4ee7-bc11-d05f259814ad.jpg"  width="460px" ></a></div>
							<div><a href=""><img  src="../img/room/9b267e78-d8ef-4c0e-a9ac-44cfa978e34e.jpg"  width="460px" ></a></div>
						  </div>
						</div>
						<a href="">
							<div class="layui-col-xs9">
								<h4>独立房间 · 1室1卫1床</h4>
								<h3>藝净- 复古花,太古里旁高层花园电影套房</h3>
								<h3>￥368 每晚</h3>
							</div>
							<div class="layui-col-xs3" >
								<img style="border-radius: 50%;" src="../img/timg.jpg" width="45px" height="45px" >
							</div>
						</a>
					</div>
					<div class="layui-col-xs3">
						<div class="layui-carousel" id="imgCarousel1">
						  <div carousel-item="">
							<div><a href=""><img  src="../img/room/ac356f32-0ba7-4dd8-9796-94d085e711fa.jpg"  width="460px" ></a></div>
							<div><a href=""><img  src="../img/room/bbe8b0d4-4613-4bb2-8c8a-7f45914f0919.jpg"  width="460px" ></a></div>
							<div><a href=""><img  src="../img/room/65e00580-6a91-4ee7-bc11-d05f259814ad.jpg"  width="460px" ></a></div>
							<div><a href=""><img  src="../img/room/9b267e78-d8ef-4c0e-a9ac-44cfa978e34e.jpg"  width="460px" ></a></div>
						  </div>
						</div>
						<a href="">
							<div class="layui-col-xs9">
							<h4>独立房间 · 1室1卫1床</h4>
							<h3>藝净- 复古花,太古里旁高层花园电影套房</h3>
							<h3>￥368 每晚</h3>
							</div>
							<div class="layui-col-xs3" >
								<img style="border-radius: 50%;" src="../img/timg.jpg" width="45px" height="45px" >
							</div>
						</a>
					</div>
					<div class="layui-col-xs3">
						<div class="layui-carousel" id="imgCarousel2">
						  <div carousel-item="">
							<div><a href=""><img  src="../img/room/ac356f32-0ba7-4dd8-9796-94d085e711fa.jpg"  width="460px" ></a></div>
							<div><a href=""><img  src="../img/room/bbe8b0d4-4613-4bb2-8c8a-7f45914f0919.jpg"  width="460px" ></a></div>
							<div><a href=""><img  src="../img/room/65e00580-6a91-4ee7-bc11-d05f259814ad.jpg"  width="460px" ></a></div>
							<div><a href=""><img  src="../img/room/9b267e78-d8ef-4c0e-a9ac-44cfa978e34e.jpg"  width="460px" ></a></div>
						  </div>
						</div>
						<a href="">
							<div class="layui-col-xs9">
							<h4>独立房间 · 1室1卫1床</h4>
							<h3>藝净- 复古花,太古里旁高层花园电影套房</h3>
							<h3>￥368 每晚</h3>
							</div>
							<div class="layui-col-xs3" >
								<img style="border-radius: 50%;" src="../img/timg.jpg" width="45px" height="45px" >
							</div>
						</a>
					</div>
				</div> -->
			</div>
			<div style="text-align: center; margin-top: 60px;" id="page"></div>
		</div>
		<div class="foot">
			<div>
				<div>京ICP备16017121号-3 京ICP证 160773号
					<img src="https://z1.muscache.cn/airbnb/static/packages/public_security_bureau_logo.d0289dc0.png" alt="中国公安局标志">
					<a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502032345" target="_blank" rel="noopener noreferrer"
					 aria-busy="false">京公网安备 11111111112345号</a>
					技术支持：卓应教育（湖南）有限公司 <a href="https://a0.muscache.com/pictures/03ec62da-f467-4e2b-bfee-6eefd052d7f5.jpg" target="_blank"
					 rel="noopener noreferrer" aria-busy="false">营业执照</a></div>
				<div dir="ltr">© 2019 QuadraL, Inc. All rights reserved.</div>
			</div>
			<br><br><br><br><br><br>
		</div>
	</body>
	<script type="text/javascript">
		var houseInfo = [
			
			{
				house_name: '下榻日式风格的房源去畅玩太古里',
				house_id: '1001',
				house_img: [
				{
					house_img_url:'../img/room/ac356f32-0ba7-4dd8-9796-94d085e711fa.jpg'
				},
				{
					house_img_url:'../img/room/ac356f32-0ba7-4dd8-9796-94d085e711fa.jpg'
				},
				{
					house_img_url:'../img/room/ac356f32-0ba7-4dd8-9796-94d085e711fa.jpg'
				}
				],
				house_price: '289',
				house_type: '独立房间',
				bed_number: '1',
				user_img: '../img/timg.jpg',
				room_number: 1,
				toilet_number: 1
			},
			{
				house_name: '下榻日式风格的房源去畅玩太古里',
				house_id: '1001',
				house_img: [
				{
					house_img_url:'../img/room/ac356f32-0ba7-4dd8-9796-94d085e711fa.jpg'
				},
				{
					house_img_url:'../img/room/ac356f32-0ba7-4dd8-9796-94d085e711fa.jpg'
				},
				{
					house_img_url:'../img/room/ac356f32-0ba7-4dd8-9796-94d085e711fa.jpg'
				}
				],
				house_price: '289',
				house_type: '独立房间',
				bed_number: '1',
				user_img: '../img/timg.jpg',
				room_number: 1,
				toilet_number: 1
			},
			{
				house_name: '下榻日式风格的房源去畅玩太古里',
				house_id: '1001',
				house_img: [
				{
					house_img_url:'../img/room/ac356f32-0ba7-4dd8-9796-94d085e711fa.jpg'
				},
				{
					house_img_url:'../img/room/ac356f32-0ba7-4dd8-9796-94d085e711fa.jpg'
				},
				{
					house_img_url:'../img/room/ac356f32-0ba7-4dd8-9796-94d085e711fa.jpg'
				}
				],
				house_price: '289',
				house_type: '独立房间',
				bed_number: 1,
				user_img: '../img/timg.jpg',
				room_number: 1,
				toilet_number: 1
			}, {
				house_name: '下榻日式风格的房源去畅玩太古里',
				house_id: '1001',
				house_img: [
				{
					house_img_url:'../img/room/ac356f32-0ba7-4dd8-9796-94d085e711fa.jpg'
				},
				{
					house_img_url:'../img/room/ac356f32-0ba7-4dd8-9796-94d085e711fa.jpg'
				},
				{
					house_img_url:'../img/room/ac356f32-0ba7-4dd8-9796-94d085e711fa.jpg'
				}
				],
				house_price: '289',
				house_type: '独立房间',
				bed_number: '1',
				user_img: '../img/timg.jpg',
				room_number: 1,
				toilet_number: 1
			},
			{
				house_name: '下榻日式风格的房源去畅玩太古里',
				house_id: '1001',
				house_img: [
				{
					house_img_url:'../img/room/ac356f32-0ba7-4dd8-9796-94d085e711fa.jpg'
				},
				{
					house_img_url:'../img/room/ac356f32-0ba7-4dd8-9796-94d085e711fa.jpg'
				},
				{
					house_img_url:'../img/room/ac356f32-0ba7-4dd8-9796-94d085e711fa.jpg'
				}
				],
				house_price: '289',
				house_type: '独立房间',
				bed_number: '1',
				user_img: '../img/timg.jpg',
				room_number: 1,
				toilet_number: 1
			},
			 {
				house_name: '下榻日式风格的房源去畅玩太古里',
				house_id: '1001',
				house_img: [
				{
					house_img_url:'../img/room/ac356f32-0ba7-4dd8-9796-94d085e711fa.jpg'
				},
				{
					house_img_url:'../img/room/ac356f32-0ba7-4dd8-9796-94d085e711fa.jpg'
				},
				{
					house_img_url:'../img/room/ac356f32-0ba7-4dd8-9796-94d085e711fa.jpg'
				}
				],
				house_price: '289',
				house_type: '独立房间',
				bed_number: 1,
				user_img: '../img/timg.jpg',
				room_number: 1,
				toilet_number: 1
			}, {
				house_name: '下榻日式风格的房源去畅玩太古里',
				house_id: '1001',
				house_img: [
				{
					house_img_url:'../img/room/ac356f32-0ba7-4dd8-9796-94d085e711fa.jpg'
				},
				{
					house_img_url:'../img/room/ac356f32-0ba7-4dd8-9796-94d085e711fa.jpg'
				},
				{
					house_img_url:'../img/room/ac356f32-0ba7-4dd8-9796-94d085e711fa.jpg'
				}
				],
				house_price: '289',
				house_type: '独立房间',
				bed_number: '1',
				user_img: '../img/timg.jpg',
				room_number: 1,
				toilet_number: 1,
			}
		]
		var hosueSum=0;
		var date='';
		var addr ='';
		var dateStart="-1";
		var dateEnd="-1";
		var minPrice=0;
		var maxPrice=0;
		userInfo=null;
		
		var url=decodeURIComponent(window.location.search).substring(1); //获取url中"?"符后的字串
		if(url.indexOf("&")!=-1) {
			var arr=url.split("&");
			addr =arr[0].substr(url.indexOf("=")+1)
			date = arr[1].substr(url.indexOf("=")+1);
			dateStart=date.split("- ")[0];
			dateEnd=date.split("-")[1];
			$("#topSearch").val(addr);
	    }else if(url.indexOf("=")!=-1){
			addr =url.substr(url.indexOf("=")+1)
		}
		//请求后台返回数据
		//getHouseInfo(dateStart,dateEnd,addr,minPrice,maxPrice);
			json = getCookie('userInfo');
			if (json != '' || json == null) {
				jsonInfo = JSON.parse(json);
				if (jsonInfo != null) {
					userInfo = jsonInfo;
					console.log(userInfo);
				}
			}
			console.log(userInfo.user_id == null)
			//初始化导航栏
			if (userInfo.user_id != null) {
				var html = '<li class="layui-nav-item " id="china"> <a href="user/myOrder.html" >房源订单中心</a></li>' +
					'<li class="layui-nav-item"><a href="story/index.html">故事</a></li>' +
					'<li class="layui-nav-item"><a href="#" id="notice">消息<span id="dot" class="layui-badge-dot"></span></a> </li>' +
					' <li class="layui-nav-item" lay-unselect=""><a href="javascript:;"><img src="../' +
					userInfo.user_headimg_url + '" class="layui-nav-img">' + userInfo.user_name + '</a> ' +
					'<dl class="layui-nav-child"><dd><a href="host/landlord.html?user_id='+userInfo.use_id+'"  style="color: gray;">个人中心</a></dd>' +
					' <dd><a href="user/modifyInfo.html" style="color: gray;">修改信息</a></dd><dd><a href="index.html" id="quit" style="color: gray;">退了</a></dd></dl>';
				$("#rightNav").empty();
				$("#rightNav").append(html);
				if (userInfo.islanlord != 1) {
					$("#china").after('<li class="layui-nav-item "> <a href="#">我的房源</a>' +
						'<dl class="layui-nav-child"><dd><a href="user/landlordOrder.html"  style="color: gray;">订单信息</a></dd>' +
						' <dd><a href="user/myHouse.html" style="color: gray;">房源信息</a></dd></dl>' + '</li>' +
						'<li class="layui-nav-item "><a href="host/create_a_room/room.html">添加房源</a></li>');
				} else {
					$("#china").after('<li class="layui-nav-item "> <a href="host/create_a_room/become.html">成为房东</a></li>');
				}
			}
			//退出按钮监听
			$("body").on("click", "#quit", function() {
				setCookie("userInfo", null, 0.1);
			});
			//获取Cookie
			function getCookie(cname) {
				var name = cname + "=";
				var decodedCookie = decodeURIComponent(document.cookie);
				var ca = decodedCookie.split(';');
				for (var i = 0; i < ca.length; i++) {
					var c = ca[i];
					while (c.charAt(0) == ' ') {
						c = c.substring(1);
					}
					if (c.indexOf(name) == 0) {
						return c.substring(name.length, c.length);
					}
				}
				return "";
			}
		//setHouse();
		function setHouse() {
			var len = houseInfo.length;
			if(len == 0) {
				$("#t1").empty();
				$("#hosue").empty();
				$("#hosue").append('<div  style="height: 420px;margin-top:70px;margin-left:800px;"><span style="font-size:40px;">暂无房源信息</span></span>');
			}else {
				
				$("#t1").empty();
				$("#t1").append('<b>' + len + '处房源</b>');
				$("#hosue").empty();
				$("#hosue").append('<div  style="height: 420px;" id="d1"></div>');
				$("#hosue").append('<div  style="height: 420px;" id="d2"></div>');
				$("#hosue").append('<div  style="height: 420px;" id="d3"></div>');
				for (var k = 0; k < len; k++) {
					var html = '<div class="layui-col-xs3" ><div class="layui-carousel" id="imgCarousel' + k +
						'"><div carousel-item=""></div></div>' +
						'<a href="host/user.html?user_id=' + houseInfo[k].user_id + '">' +
						'<div class="layui-col-xs9"><h4>' + houseInfo[k].house_type + ' · ' + houseInfo[k].room_number + '室' + houseInfo[k]
						.toilet_number + '卫1床</h4>' +
						'<h3>' + houseInfo[k].house_name + '</h3><h3>￥' + houseInfo[k].house_price + ' 每晚</h3>' +
						'</div><div class="layui-col-xs3" >' +
						'<img style="border-radius: 50%;" src="../' + houseInfo[k].user_img + '" width="45px" height="45px" >' +
						'</div></a></div>';
					if (k < 4) {
						$("#d1").append(html);
					} else if (k >= 4 && k < 8) {
						$("#d2").append(html);
					} else {
						$("#d3").append(html);
					}
					for (var j = 0; j < houseInfo[k].house_img.length; j++) {
						imghtml = '<div><a href="host/home.html?house_id=' + houseInfo[k].house_id+ '"><img  src="../' + houseInfo[k].house_img[j].house_img_url + '"  width="460px" ></a></div>';
						$("#imgCarousel" + k + " div").append(imghtml);
					}
				}
			}
		}
		//设置cookie
		function setCookie(cname, cvalue, exdays) {
		    var d = new Date();
		    d.setTime(d.getTime() + (exdays*24*60*60*1000));
		    var expires = "expires="+ d.toUTCString();
		    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
		} 
		//获取Cookie
		function getCookie(cname) {
		    var name = cname + "=";
		    var decodedCookie = decodeURIComponent(document.cookie);
		    var ca = decodedCookie.split(';');
		    for(var i = 0; i <ca.length; i++) {
		        var c = ca[i];
		        while (c.charAt(0) == ' ') {
		            c = c.substring(1);
		         }
		         if (c.indexOf(name) == 0) {
		            return c.substring(name.length, c.length);
		         }
		     }
		    return "";
		} 

		/**
		 * 时间格式化
		 * @param {Date} dateVal 
		 */
		function formatDate(dateVal) {
			let year = dateVal.getFullYear(),
				month = dateVal.getMonth() + 1,
				day = dateVal.getDate()
			if (month < 10) {
				month = `0${month}`
			}
			if (day < 10) {
				day = `0${day}`
			}
			return `${year}-${month}-${day}`
		}
		function formatTime(year, month, day) {
			// let year = dateVal.getFullYear(),
			//     month = dateVal.getMonth()+1,
			//     day = dateVal.getDate()
			if (month < 10) {
				month = `0${month}`
			}
			if (day < 10) {
				day = `0${day}`
			}
			return `${year}-${month}-${day}`
		}
		
		/**
		 * 批量生成日期函数
		 * @param {Date} startTime
		 * @param {Date} endTime 
		 */
		function generateFun(startTime, endTime) {
			let timeStamp = Math.ceil((endTime.getTime() - startTime.getTime()) / (1000 * 60 * 60 * 24)), //判断两个日期相差多少天
				timeArr = [];
				timeArr.push(formatDate(startTime))
			for (let index = 1; index <= timeStamp; index++) {
				const element = startTime.setTime((1000 * 60 * 60 * 24) + startTime.getTime())
				timeArr.push(formatDate(new Date(element)))
			}
			return timeArr
		}
		
		var personNum=0;
		//请求后端方法，再拿到房子数据
		function getHouseInfo(dateStart,dateEnd,addr,minPrice,maxPrice,personNum) {
			map='{"reserve_date":"'+dateStart+'","check_out_date":"'+dateEnd+'","house_address":"'+
				addr+'","minPrice":"'+minPrice+'","maxPrice":"'+maxPrice+'","personNum":"'+personNum+'"}'
			console.log(map)
			$.getJSON(basePath+"house.do?method=getHouseInfoBySelect&callback=?",
			{"selectMap":map},function(result){
				console.log(result)
				layer.msg("获取成功");
				msg=result;
				houseInfo=result.houseList;
				console.log(msg)
				if(houseInfo != null) {
					setHouse();
				}
			});
		}
	</script>
	<script>
		layui.use(['form', 'element', 'layer', 'laypage', 'carousel', 'laydate'], function() {
			var form = layui.form,
				$ = layui.jquery,
				layer = layui.layer,
				element = layui.element,
				laypage = layui.laypage,
				carousel = layui.carousel,
				laydate = layui.laydate;
				
			//日期范围
			laydate.render({
				elem: '#dateChoose',
				range: true,
				format: 'MM月dd日',
				btns: ['confirm'],
				done: function(value, date, endDate) {
					dateArr = generateFun(new Date(formatTime(date.year, date.month, date.date)), new Date(formatTime(endDate.year,
						endDate.month, endDate.date)));
					console.log(dateArr[0]+"---"+dateArr[dateArr.length-1])
					DateNum = dateArr.length - 1;
					if(dateArr != null) {
						dateStart=dateArr[0];
						dateEnd=dateArr[dateArr.length-1];
					}
					//getHouseInfo();
				}
			});
			//验证字符串是否是数字
			function checkNumber(theObj) {
			    var reg = /^[0-9]+.?[0-9]*$/;
			    if (reg.test(theObj)) {
			        return true;
			    }
			    return false;
			}
			//触发事件
			var active = {
				more: function() {
					html = '<h2>人数</h2><div style="position: absolute;margin-top: -20px;margin-left:100px;">'+
							'<button id="subBtn" class="layui-btn layui-btn-sm"><i class="layui-icon"></i></button>'+
							'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="personNum" style="font-size: 15px; font-weight: bolder;">'+personNum+'+</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+
							'<button id="addBtn" class="layui-btn layui-btn-sm"><i class="layui-icon"></i></button></div>';
					//示范一个公告层
					layer.open({
						type: 2,
						title: false,
						closeBtn: false,
						area: ['500px', '350px'],
						shade: 0.1,
						offset: ['110px', '00px'],
						btn: ['取消','确认'],
						btnAlign: 'r',
						moveType: 1,
						content: ['searchiframe.html', 'no'],
						shadeClose:true,
						btn1: function(index, layero) {
							layer.close(index);
						},
						btn2: function(index, layero) {
							houseType=$.cookie('houseType');
							personNum=$.cookie('personNum');
							price_max=$.cookie('price_max');
							price_min=$.cookie('price_min');
							console.log(price_max)
							if(!checkNumber(price_max) || !checkNumber(price_min) || price_min < 0 ||price_max < 0) {
								layer.msg("价格设置错误！")
							} else{
								
							}
						}
					});
				}
			};

			$('.layui-btn').on('click', function() {
				var othis = $(this),
					method = othis.data('method');
				active[method] ? active[method].call(this, othis) : '';
			});

			//总页数大于页码总数
			laypage.render({
				elem: 'page',
				limit: 7,
				count: 70 //数据总数
					,
				jump: function(obj) {
					console.log(obj)
				}
			});
			$("body").on("mouseenter","#imgCarousel0",function() {
				
			})
			//图片轮播
		 ins =carousel.render({
				elem: '#imgCarousel0',
				width: '460px',
				height: '306.6px',
				autoplay: false
			});
			//图片轮播
			carousel.render({
				elem: '#imgCarousel1',
				width: '460px',
				height: '306.6px',
				autoplay: false
			});
			carousel.render({
				elem: '#imgCarousel2',
				width: '460px',
				height: '306.6px',
				autoplay: false
			});
			//图片轮播
			carousel.render({
				elem: '#imgCarousel3',
				width: '460px',
				height: '306.6px',
				autoplay: false
			});
			//图片轮播
			carousel.render({
				elem: '#imgCarousel4',
				width: '460px',
				height: '306.6px',
				autoplay: false
			});
			//图片轮播
			carousel.render({
				elem: '#imgCarousel5',
				width: '460px',
				height: '306.6px',
				autoplay: false
			});
			//图片轮播
			carousel.render({
				elem: '#imgCarousel6',
				width: '460px',
				height: '306.6px',
				autoplay: false
			});
			//图片轮播
			carousel.render({
				elem: '#imgCarousel7',
				width: '460px',
				height: '306.6px',
				autoplay: false
			});
			//图片轮播
			carousel.render({
				elem: '#imgCarousel8',
				width: '460px',
				height: '306.6px',
				autoplay: false
			});
			//图片轮播
			carousel.render({
				elem: '#imgCarousel9',
				width: '460px',
				height: '306.6px',
				autoplay: false
			});
			//图片轮播
			carousel.render({
				elem: '#imgCarousel10',
				width: '460px',
				height: '306.6px',
				autoplay: false
			});
			//图片轮播
			carousel.render({
				elem: '#imgCarousel11',
				width: '460px',
				height: '306.6px',
				autoplay: false
			});
		});
	</script>
</html>
