<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			#main{
				width: 1200px;
				height: 1000px;
				margin: 0 auto;
			}
			#d2>ol>li{
				line-height: calc(2);
			}
		</style>
	</head>
	<body>
		<div id="main">
			<div id="d1" style="height: 100px; font-weight: 800;font-size:xx-large;">爱彼迎旅行保障细则</div>
			<div style="height: 70px;">爱彼迎旅行保障是我们为中国房客（定义如下）提供的额外旅行保障，适用
				《爱彼迎服务提供者退款政策》及以下补充条款，不一致处以本细则为准。除非
				本《爱彼迎旅行保障细则》中另有定义，所有术语的含义与《爱彼迎服务提供者
				退款政策》中的含义相同。
			</div>
			<div id="d2">
				<ol>
					<li>旅行问题除 (a) (b) (c) 描述的情形外，还包括以下情形：
						<ul>
							<li>(d) 居住设施的服务提供者要求居住设施的服务接受者在爱彼迎平台之外支付任何不合理费用</li>
						</ul>
					</li>
					<li>中国房客指的是居住国家/地区为中国（为本细则的目的
						不包括港澳台地区）的居住设施的服务接受者。「居住国家/地区」指您的爱彼迎账户所绑定的司法管辖区，由爱
						彼迎对您输入的与爱彼迎账户相关的数据属性评估确定。
					</li>
					<li>如果中国房客遇到了任何旅行问题，我们同意，依我们的决定，(i) 按照您遇到的旅行问题的性质向您退款，最高金额
						为您通过爱彼迎平台支付的金额（「总费用」），并额外补偿与该订单下首晚房费等额的爱彼迎礼金券；或
						 (ii) 尽合理努力按您在预订居住期间剩余未使用的夜晚数为
						 您寻找并预订其他居住设施，该居住设施在面积、房间、特色和质量等方面与您预订的原居住设施基本相当。
					</li>
					<li>爱彼迎关于爱彼迎旅行保障的所有决定，包括但不限于任何退款或爱彼迎礼金券
						的金额、替代性居住设施的近似程度，应由爱彼迎全权做出并对中国房客有约束力。
					</li>
					<li>本细则下发放的爱彼迎礼金券适用以下使用规则：
						<ul>
							<li>礼金券只能通过爱彼迎网站、应用和服务兑换。</li>
							<li>礼金券将自动在付款页面上显示为「礼金券」，且必须用于在发放日期后一年内发生的预订。</li>
							<li>礼金券是出于促销目的而发行的礼金券；没有现金价值，不能转让或兑换现金。</li>
							<li>如果礼金券使用后发生退款，您将最多就您实际支付的部分收到退款，礼金券不再退还</li>
							<li>由于地方银行限制，礼金券目前不可用于印度国内旅行。</li>
							<li>礼金券不可用于 28 晚或以上的预订。</li>
							<li>礼金券不可叠加使用，不可与其他爱彼迎推荐计划或激励措施同时使用。</li>
						</ul>
					</li>
				</ol>
			</div>
		</div>
	</body>
</html>
