<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>便利设施</title>
		<link rel="stylesheet" type="text/css" href="../../../layui/css/layui.css">
		<script src="../../../js/jquery.min.js"></script>
		<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
		<script src="../../../layui/layui.js"></script>
		<style type="text/css">
			#warpper {
				margin-left: 450px;
				width: 500px;
			}
			#checkBox div,#checkBox h2{
				margin-left: -80px;
			}
			#checkBox span{
				font-size: 20px;
			}
			#footBtn button {
				border-radius: 15px;
				border-radius: 15px;
				font-size: 15px;
				font-weight: bolder;
				width: 105px;
				height: 55px;
			}
			#footBtn{
				position:fixed;
				top:92%;
				left:440px; /* width的一半的相反数 */
				z-index:999;
			}
		</style>
	</head>
	<body>
		<div style="margin-top: -5px;z-index: 100; width: 100%;height: 65px; position: fixed;background-color: mistyrose;">
			<br>
			&nbsp;&nbsp;&nbsp;&nbsp;<a href="../../index.html">
				<img src="../../../img/logo.jpg" class="layui-nav-img">
			</a>
			<h2 style="position: absolute; margin-top: -30px; margin-left: 60px;">步骤1：先填写基本信息</h2>
			<br><br>
			<div class="layui-progress layui-progress-big c" lay-showpercent="true" lay-filter="pro">
				<div class="layui-progress-bar layui-bg-green" lay-percent="40%"></div>
			</div>
		</div>
		<br><br><br><br><br>
		<div id="warpper">
			<br>
			<h1 style="font-weight: bolder;">您提供的便利设施有哪些？</h1>
			<br>
			<h3>这些只是房客通常会期望享受的便利设施，您亦可在房源发布后添加更多。</h3>
			<br><br><br>
			<form class="layui-form" action="" style="width: 350px;font-weight: bolder;">
			    <div id="checkBox" class="layui-input-block">
				</div>
			  </form>
		<div style="position: fixed; top: 10%; left: 60%;">
			<img src="../../../img/ReleaseRoom/2.png" height="50%">
		</div>
		<div id="footBtn">
			<button class="layui-btn site-demo-active" onclick="location.href='location.html'">
				< 返回</button> 
				<button style="margin-left: 290px; " class="layui-btn "  id="btnGo">下一步
			</button>
		</div>
	</body>
	<script>
		layui.use(['form', 'layedit','laydate','element'], function(){
			var form = layui.form
			,layer = layui.layer
			form.on('checkbox()', function(data){
				if(data.elem.checked) {
					myFacilities.push(data.value);
				} else {
					myFacilities.pop(data.value);
				}
				console.log(data.elem.checked); //是否被选中，true或者false
				console.log(data.value); //复选框value值，也可以通过data.elem.value得到
			});
		});
	</script>
	<script>
		var facilities=["生活必需品","空调","壁橱/抽屉","熨斗","电视","壁炉",
						"独立入口","洗发水","无线网络","书桌/工作区",
						"早餐、咖啡、茶","灭火器","一氧化碳报警器","烟雾报警器","急救包"];
		var myFacilities=[];
		flag=true;
		for(var i=0;i<facilities.length;i++) {
			html='<input  type="checkbox" lay-filter="filter" name="facilities" lay-skin="primary" title="'+facilities[i]+'" value="'+facilities[i]+'"><br><br>'
			if(i > 10 && flag == true) {
				$("#checkBox").append('<br><h2>安全设施</h2><br><br>');
				flag=false
			}
			$("#checkBox").append(html);
		}
		$('#btnGo').on('click', function() {
			if(myFacilities.length == 0) {
				layer.msg("请选择至少一项！");
			}else {
				$.cookie('myFacilities', myFacilities);
				location.href = "spaces.html";
			}
			
		});
		
		window.onload = function() {
			
			if($.cookie('myFacilities') != null) {
				var arr = $.cookie('myFacilities').split(",");
				myFacilities=arr;
			}
			
		}
	</script>
</html>
