<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>房源守则</title>
		<script src="../../../js/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../../../layui/css/layui.css">
		<script src="../../../js/jquery.min.js"></script>
		<script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
		<script src="../../../layui/layui.js"></script>]
		<style type="text/css">
			#warpper {
				margin-left: 450px;
				width: 500px;
			}
			
			 #checkBox div,#checkBox h2{
			 	margin-left: -80px;
			 }
			 #checkBox span{
			 	font-size: 20px;
			 }
			#footBtn button {
				border-radius: 15px;
				border-radius: 15px;
				font-size: 15px;
				font-weight: bolder;
				width: 105px;
				height: 55px;
			}
			#footBtn{
				position:fixed;
				top:92%;
				left:440px; /* width的一半的相反数 */
				z-index:999;
			}
		</style>
	</head>
	<body>
		<div style="margin-top: -20px;z-index: 100; width: 100%;height: 65px; position: fixed;background-color: mistyrose;">
			<br>
			&nbsp;&nbsp;&nbsp;&nbsp;<a href="../../index.html">
				<img src="../../../img/logo.jpg" class="layui-nav-img">
			</a>
			<h2 style="position: absolute; margin-top: -30px; margin-left: 60px;">步骤3：做好准备接待房客</h2>
			<br><br>
			<div class="layui-progress layui-progress-big c" lay-showpercent="true" lay-filter="pro">
				<div class="layui-progress-bar layui-bg-green" lay-percent="72%"></div>
			</div>
		</div>
		<br><br><br><br><br>
		<div id="warpper">
			<br><br><br>
			<h1 style="font-weight: bolder;">为房客制定房屋守则</h1>
			<br>
			<h3>房客必须同意您的《房屋守则》才能预订住宿。</h3>
			<br><br><br><br><br>
			<form class="layui-form" action="">
				<div id="checkBox" class="layui-input-block">
					<h2 style="margin-left: -100px;">适合儿童（2-12岁）</h2>
					<input type="checkbox"  lay-filter="filter" name="close" lay-skin="switch" lay-text="ON|OFF">
				</div>
			  </form>
		</div>
		<div style="position: fixed; top: 8%; left: 60%;">
			<img src="../../../img/ReleaseRoom/2.png" height="50%">
		</div>
		<div id="footBtn" >
			<button class="layui-btn site-demo-active" onclick="location.href='name.html'">
				< 返回</button> 
				<button style="margin-left: 290px; " class="layui-btn" id="btnGo">下一步
			</button>
		</div>
	</body>
	<script>
		layui.use('form', function(){
			var form = layui.form
			,layer = layui.layer
			form.on('checkbox()', function(data){
				if(data.elem.checked) {
					myRules.push(data.value);
				} else {
					myRules.pop(data.value);
				}
				console.log(data.elem.checked); //是否被选中，true或者false
				console.log(data.value); //复选框value值，也可以通过data.elem.value得到
			});
		});
	</script>
	<script>
		var rules=["适合儿童（2-12岁）","适合婴幼儿（2岁以下）","适合携带宠物入住","允许吸烟","允许举办活动或聚会"];
		var myRules=[];
		$("#checkBox").empty();
		for(var i=0;i<rules.length;i++) {
			html='<input  type="checkbox" lay-filter="filter" name="rules" lay-skin="primary" title="'+rules[i]+'" value="'+rules[i]+'"><br><br><br><br>';
			$("#checkBox").append(html);
		}
		$('#btnGo').on('click', function() {
			if(myRules == null || myRules.length==0){
				layer.msg("请选择至少一项!")
			}else  {
				$.cookie('myRules', myRules);
				
				console.log($.cookie('myRules'))
				location.href = "date.html";
			}
			 
		});
		layui.use('element', function(){});
	</script>
</html>
