<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>度假屋、民宿、体验和攻略 - Airbnb爱彼迎</title>
		<script src="../../js/comment.js"></script>
		<link rel="stylesheet" type="text/css" href="../../layui/css/layui.css">
		<script src="../../js/jquery.min.js"></script>
		<script src="../../layui/layui.all.js"></script>
		<script src="../../layui/layui.js"></script>
		<style type="text/css">
			#navId li a {
				font-size: 15px;
				color: white;
				font-weight: bold;
			}

			#rightNav {
				float: right;
			}

			#left {
				position: absolute;
				width: 300px;
				height: 450px;
				margin-left: 400px;
				margin-top: 100px;
				border: 1px solid gray;
			}

			#left img {
				border-radius: 50%;
				margin-left: 30%;
				margin-top: 30px;
			}

			#left i,
			#left h2 {
				margin-left: 13%;
				font-size: 17px;
			}

			#leftFoot {
				position: absolute;
				width: 300px;
				height: 35px;
				margin-left: 400px;
				margin-top: 555px;
				border: 1px solid gray;
			}

			#leftFoot button {
				width: 300px;
				height: 35px;
			}

			#main {
				margin-top: 100px;
				width: 600px;
				margin-left: 900px;
			}

			.foot {
				margin-top: 200px;
				width: 1090px;
				margin-left: 550px;
			}
		</style>
	</head>
	<body>
		<div id="top">
			<ul class="layui-nav layui-bg-green" id="navId">
				<li class="layui-nav-item">
					<a href="../index.html">
						<img src="../../img/logo.jpg" style="border-radius: 50%;" width="49px" height="49px">
					</a>
				</li>
				<li class="layui-nav-item ">
					<form class="layui-form" action="">
						<input id="topSearch" style=" width: 400px;height:48px; font-weight: bold; font-size: 20px; " name="search"
						 placeholder="搜一搜" autocomplete="off" class="layui-input">
					</form>
				</li>
				<div id="rightNav">
					<li class="layui-nav-item"><a href="">故事</a></li>
					<li class="layui-nav-item" style="cursor: pointer;"><a class="NavA" data-method="login">注册</a></li>
					<li class="layui-nav-item" style="cursor: pointer;"><a class="NavA" data-method="login">登录</a></li>
				</div>
			</ul>
		</div>
		<div id="left">
			<img src="../../img/timg.jpg" width="120px" height="120px">
			<hr>
			<br><br>
			<i class="layui-icon layui-icon-dialogue" style="color: red;">&nbsp;554条评价</i><br><br>
			<i class="layui-icon layui-icon-ok" style="color: red;">&nbsp;已验证</i><br><br>
			<hr>
			<h2>藝已提供</h2><br>
			<i class="layui-icon layui-icon-ok" style="color: green;">&nbsp;电子邮件地址</i><br><br>
			<i class="layui-icon layui-icon-ok" style="color: green;">&nbsp;手机号</i><br><br>
			<i class="layui-icon layui-icon-ok" style="color: green;">&nbsp;身份证</i><br><br>
		</div>
		<div id="leftFoot">
		</div>
		<div id="main">
			<div id="title">
				<div class="layui-col-xs12">
					<span style="font-size: 50px; color: gray;">
						您好，我叫藝
					</span><br><br>
					<h2>注册时间：2016年7月</h2>
				</div><br><br><br><br><br><br>
				<br><br>
				<hr>
				<div class="layui-col-xs12">
					<h2 style="color: gray;"><b>自我介绍</b></h2><br>
					<h4>我们是位于东京市中心的禅宗主题设计胶囊酒店禅宗东京｡ <br>
						我们距离人形町站有30秒的步行路程,可以直达东京的两个机场和几乎所有的旅游目的地｡<br>
						酒店禅宗东京的客户体验以日本禅宗极简主义的精神为基础｡我们设计了最现代,
						最紧凑的传统日本建筑,希望为我们的客人提供一个充分体验日本,
						舒适和合理价格的机会｡我们酒店的客人可以享受融合了高效的胶囊住宿和正宗的传统设计 -
						实质上是在东京市中心的现代和城市日式旅馆体验｡
					</h4>
				</div>
			</div><br>
			<hr><br>
			<div id="house">
				<h2 style="color: gray;"><b>藝的房源</b></h2><br>
				<div class="layui-col-xs6" style="margin-top: 30px;">
					<a href="">
						<img src="../../img/room/65e00580-6a91-4ee7-bc11-d05f259814ad.jpg" width="290px" height="216px">
						<h4>价格：500一晚·整套房子·最多2人</h4>
						<h3>藝净- 复古花,太古里旁高层花园电影套房</h3>
					</a>
				</div>
				<div class="layui-col-xs6" style="margin-top: 30px;">
					<a href="">
						<img src="../../img/room/ac356f32-0ba7-4dd8-9796-94d085e711fa.jpg" width="290px" height="216px">
						<h4>价格：500一晚·整套房子·最多2人</h4>
						<h3>藝净- 复古花,太古里旁高层花园电影套房藝净- 复古花,太古里旁高层花园电影套房</h3>
					</a>
				</div>
				<div class="layui-col-xs6" style="margin-top: 30px;">
					<a href="">
						<img src="../../img/room/ac356f32-0ba7-4dd8-9796-94d085e711fa.jpg" width="290px" height="216px">
						<h4>价格：500一晚·整套房子·最多2人</h4>
						<h3>藝净- 复古花,太古里旁高层花园电影套房</h3>
					</a>
				</div>
				<div class="layui-col-xs6" style="margin-top: 30px;">
					<a href="">
						<img src="../../img/room/ac356f32-0ba7-4dd8-9796-94d085e711fa.jpg" width="290px" height="216px">
						<h4>价格：500一晚·整套房子·最多2人</h4>
						<h3>藝净- 复古花,太古里旁高层花园电影套房</h3>
					</a>
				</div>
				<div class="layui-col-xs6">
					<a href="">
						<img src="../../img/room/ac356f32-0ba7-4dd8-9796-94d085e711fa.jpg" width="290px" height="216px">
						<h4>价格：500一晚·整套房子·最多2人</h4>
						<h3>藝净- 复古花,太古里旁高层花园电影套房</h3>
					</a>
				</div>
			</div><br><br><br>
			<hr><br><br><br>
			<div id="comment">
				<h2 style="color: gray;"><b>554条评价</b></h2><br>
				<div>
					<div class="layui-col-xs10">
						<a href="">住过藝净- 复古花,太古里旁高层花园电影套房</a>
					</div>
					<div class="layui-col-xs2">
						<img src="../../img/room/997b02ab-9522-4500-a0de-6e67a94bbe9b.jpg" width="60px">
					</div><br><br><br>
					<h3>地理位置：很好，步行5-10分钟太古里，
						小区公共区域特别是楼道感觉不太好，很杂乱的感觉，
						但是有门禁有电梯卡，应该是安全的。
						房间设施：还是不错的，有投影仪，有大面积窗户，只是中央空调坏了，不过房东也积极解决了，给了我们补偿。
						总体还是愉快的，虽然有点小插曲，但是房东尽量给我们解决了，希望下次能在客人入住前检查好设备，
						毕竟房东离的挺远的，来回一趟一小时也很不容易，
						大家时间也都很宝贵，还是非常感谢房东，有缘再见。
					</h3>
					<br><a href="">
						<img style="border-radius: 50%;" width="50px" height="50px" src="../../img/room/65e00580-6a91-4ee7-bc11-d05f259814ad.jpg">
						<h2 style="margin-left: 80px; margin-top: -50px;">haku</h2>
						<h3 style="margin-left: 80px; margin-top: 0px;">2019年10月</h3><br>
					</a>
					<hr>
				</div><br><br>
				<div>
					<div class="layui-col-xs10">
						<a href="">住过藝净- 复古花,太古里旁高层花园电影套房</a>
					</div>
					<div class="layui-col-xs2">
						<img src="../../img/room/997b02ab-9522-4500-a0de-6e67a94bbe9b.jpg" width="60px">
					</div><br><br><br>
					<h3>套房宽敞明亮,干净整洁｡室内布置品味雅致｡各类设施完备｡地点超级便利｡房主热情专业,亲自带领入住并给予详细介绍｡应对非常迅速,礼貌周全,美好的住宿体验,
					</h3>
					<br><a href="">
						<img style="border-radius: 50%;" width="50px" height="50px" src="../../img/room/65e00580-6a91-4ee7-bc11-d05f259814ad.jpg">
						<h2 style="margin-left: 80px; margin-top: -50px;">haku</h2>
						<h3 style="margin-left: 80px; margin-top: 0px;">2019年10月</h3><br>
					</a>
					<hr>
				</div><br><br>
				<div>
					<div class="layui-col-xs10">
						<a href="">住过藝净- 复古花,太古里旁高层花园电影套房</a>
					</div>
					<div class="layui-col-xs2">
						<img src="../../img/room/997b02ab-9522-4500-a0de-6e67a94bbe9b.jpg" width="60px">
					</div><br><br><br>
					<h3>超高性价比的房间,开门的一瞬间真的惊艳到了,比图片还好看｡最重要的是干净舒适｡房东人特别好,有问必答｡小区打车很方便｡给重庆之旅加了分的房间,赞
					</h3>
					<br><a href="">
						<img style="border-radius: 50%;" width="50px" height="50px" src="../../img/room/65e00580-6a91-4ee7-bc11-d05f259814ad.jpg">
						<h2 style="margin-left: 80px; margin-top: -50px;">haku</h2>
						<h3 style="margin-left: 80px; margin-top: 0px;">2019年10月</h3><br>
					</a>
					<hr>
				</div><br><br>
				<div>
					<div class="layui-col-xs10">
						<a href="">住过藝净- 复古花,太古里旁高层花园电影套房</a>
					</div>
					<div class="layui-col-xs2">
						<img src="../../img/room/997b02ab-9522-4500-a0de-6e67a94bbe9b.jpg" width="60px">
					</div><br><br><br>
					<h3>超高性价比的房间,开门的一瞬间真的惊艳到了,比图片还好看｡最重要的是干净舒适｡房东人特别好,有问必答｡小区打车很方便｡给重庆之旅加了分的房间,赞
					</h3>
					<br><a href="">
						<img style="border-radius: 50%;" width="50px" height="50px" src="../../img/room/65e00580-6a91-4ee7-bc11-d05f259814ad.jpg">
						<h2 style="margin-left: 80px; margin-top: -50px;">haku</h2>
						<h3 style="margin-left: 80px; margin-top: 0px;">2019年10月</h3><br>
					</a>
					<hr>
				</div><br><br>
				<div>
					<div class="layui-col-xs10">
						<a href="">住过藝净- 复古花,太古里旁高层花园电影套房</a>
					</div>
					<div class="layui-col-xs2">
						<img src="../../img/room/997b02ab-9522-4500-a0de-6e67a94bbe9b.jpg" width="60px">
					</div><br><br><br>
					<h3>超高性价比的房间,开门的一瞬间真的惊艳到了,比图片还好看｡最重要的是干净舒适｡房东人特别好,有问必答｡小区打车很方便｡给重庆之旅加了分的房间,赞
					</h3>
					<br><a href="">
						<img style="border-radius: 50%;" width="50px" height="50px" src="../../img/room/65e00580-6a91-4ee7-bc11-d05f259814ad.jpg">
						<h2 style="margin-left: 80px; margin-top: -50px;">haku</h2>
						<h3 style="margin-left: 80px; margin-top: 0px;">2019年10月</h3><br>
					</a>
					<hr>
				</div><br><br>
			</div><br>
		</div>
		<div class="foot">
			<div>
				<div>京ICP备16017121号-3 京ICP证 160773号
					<img src="https://z1.muscache.cn/airbnb/static/packages/public_security_bureau_logo.d0289dc0.png" alt="中国公安局标志">
					<a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502032345" target="_blank" rel="noopener noreferrer"
					 aria-busy="false">京公网安备 11010502032345号</a>
					技术支持：卓应教育（湖南）有限公司 <a href="https://a0.muscache.com/pictures/03ec62da-f467-4e2b-bfee-6eefd052d7f5.jpg" target="_blank"
					 rel="noopener noreferrer" aria-busy="false">营业执照</a></div>
				<div dir="ltr">© 2019 Airbnb, Inc. All rights reserved.</div>
			</div>
			<br><br><br><br><br><br>
		</div>
	</body>
	<script type="text/javascript">
		var url = window.location.search; //获取url中"?"符后的字串
		if (url.indexOf("?") != -1) {
			var user_id = url.substr(url.indexOf("=")+1);
		}
		var userInfo=null;
		var info = {
			user_id: '',
			user_tel: '',
			user_email: '',
			user_name: '',
			user_img: '',
			user_describe: '',
			inform_date: '',
			money: '',
			commentNum: '',
			user_comment: [{
				user_id: '',
				user_name: '',
				user_img: '',
				comment_date: '',
				content: '',
				houseInfo: {
					house_id: '',
					house_name: '下榻日式风格的房源去畅玩太古里',
					houseImg: '1'
				}
			}],
			house: [{
				house_name: '下榻日式风格的房源去畅玩太古里',
				house_id: 4,
				house_price: 289.5,
				house_type: '独立房间',
				houseImg: '1',
				house_intake: '', //房子容纳量
			},{
				house_name: '下榻日式风格的房源去畅玩太古里',
				house_id: 4,
				house_price: 289.5,
				house_type: '独立房间',
				houseImg: '1',
				house_intake: '', //房子容纳量
			},
			{
				house_name: '下榻日式风格的房源去畅玩太古里下榻日式风格去畅玩太古里下榻日式风格的',
				house_id: 4,
				house_price: 289.5,
				house_type: '独立房间',
				houseImg: '1',
				house_intake: '', //房子容纳量
			},
			{
				house_name: '下榻日式风格的房源去畅玩太古里',
				house_id: 4,
				house_price: 289.5,
				house_type: '独立房间',
				houseImg: '1',
				house_intake: '', //房子容纳量
			},
			{
				house_name: '太古里下榻日式风格的房源去畅玩太古里',
				house_id: 4,
				house_price: 289.5,
				house_type: '独立房间',
				houseImg: '1',
				house_intake: '', //房子容纳量
			},{
				house_name: '下榻日式风格的房源去畅玩太古里',
				house_id: 4,
				house_price: 289.5,
				house_type: '独立房间',
				houseImg: '1',
				house_intake: '', //房子容纳量
			},
			{
				house_name: '下榻日式风格的房源去畅玩太古里',
				house_id: 4,
				house_price: 289.5,
				house_type: '独立房间',
				houseImg: '1',
				house_intake: '', //房子容纳量
			}
			]
		}
		json = getCookie('userInfo');
		if (json != '' || json == null) {
			jsonInfo = JSON.parse(json);
			if (jsonInfo != null) {
				userInfo = jsonInfo;
				console.log(userInfo);
			}
		}
		//初始化导航栏
		if (userInfo != null) {
			var html = '<li class="layui-nav-item " id="china"> <a href="../user/myOrder.html" >房源订单中心</a></li>' +
				'<li class="layui-nav-item"><a href="../story/index.html">故事</a></li>' +
				'<li class="layui-nav-item"><a href="#" id="notice">消息<span id="dot" class="layui-badge-dot"></a> </li>' +
				' <li class="layui-nav-item" lay-unselect=""><a href="javascript:;"><img src="../../' +
				userInfo.user_headimg_url + '" class="layui-nav-img">' + userInfo.user_name + '</a> ' +
				'<dl class="layui-nav-child"><dd><a href="landlord.html?user_id='+userInfo.use_id+'"  style="color: gray;">个人中心</a></dd>' +
				' <dd><a href="../user/modifyInfo.html" style="color: gray;">修改信息</a></dd><dd><a href="javascript:;" id="quit" style="color: gray;">退了</a></dd></dl>';
			$("#rightNav").empty();
			$("#rightNav").append(html);
			if (userInfo.is_landlord == 1) {
				$("#china").after('<li class="layui-nav-item "> <a href="javascript:;">我的房源</a>' +
					'<dl class="layui-nav-child"><dd><a href="../user/landlordOrder.html"  style="color: gray;">订单信息</a></dd>' +
					' <dd><a href="../user/myHouse.html" style="color: gray;">房源信息</a></dd></dl>' + '</li>' +
					'<li class="layui-nav-item "><a href="create_a_room/room.html">添加房源</a></li>');
			} else {
				$("#china").after('<li class="layui-nav-item "> <a href="create_a_room/become.html">成为房东</a></li>');
			}

		}
		//退出按钮监听
		$("body").on("click", "#quit", function() {
			setCookie("userInfo", null, 0.1);
			location.href = "../index.html";
		});

		//请求后端拿到房东的房子信息
		$.getJSON(basePath + "user.do?method=getUserInfo", {
			"user_id": user_id
		}, function(res) {
			console.log(res)
			info = res;
			$("#leftFoot").empty();
			if(userInfo != null) {
				if(userInfo.user_id == info.user_id) {
					$("#leftFoot").append('<button id="recharge" class="layui-btn" type="button">充值余额</button>');
					$("#i2").before('<i class="layui-icon layui-icon-face-smile" style="color: red;">&nbsp;我的余额：￥' + info.money + '</i><br><br>');
				}else {
					$("#leftFoot").empty();
				}	
			}
			getInfo();
		});
		//getInfo();
		function getInfo() {
			$("#left").empty();
			html = '<img src="../../' + info.user_headimg_url + '" width="120px" height="120px" ><hr >' +
				 '<i id="i2" class="layui-icon layui-icon-dialogue" style="color: red;">&nbsp;' + info.user_comment.length + '条评价</i><br><br>' +
				'<i class="layui-icon layui-icon-ok" style="color: red;">&nbsp;已验证</i><br><br>' +
				'<hr ><h2>'+info.user_name+'已提供</h2><br>' +
				'<i class="layui-icon layui-icon-ok" style="color: green;">&nbsp;电子邮箱</i><br><br>' +
				'<i class="layui-icon layui-icon-ok" style="color: green;">&nbsp;电话号码</i><br><br>' +
				'<i class="layui-icon layui-icon-ok" style="color: green;">&nbsp;身份证</i><br><br>';
			$("#left").append(html);
			$("#title").empty();
			html = '<div class="layui-col-xs12">' +
				'<span style="font-size: 50px; color: gray;">您好，我叫' + info.user_name + '</span><br><br><h2>注册时间：' + info.inform_date +
				'</h2>' +
				'</div><br><br><br><br><br><br><br><br>' +
				'<hr><div class="layui-col-xs12">' +
				'<h2 style="color: gray;"><b>自我介绍</b></h2><br><h4>' + info.user_describe  + '</h4></div><br>';
			$("#title").append(html);
			if (info.is_landlord == 0) {
				$("#house").empty();
				$("#comment").empty();
			} else {
				$("#house").empty();
				$("#house").append('<h2 style="color: gray;"><b>"'+info.user_name+'"的房源</b></h2><br>');
				for (let i = 0; i < info.house.length; i++) {
					html = '<div class="layui-col-xs6" style="margin-top: 20px;"><a href="home.html?house_id=' + info.house[i].house_id + '">' +
						'<img src="../../' + info.house[i].house_img + '" width="290px" height="216px">' +
						'<h4>价格：￥' + info.house[i].house_price + '一晚·' + info.house[i].house_type + '·最多' + info.house[i].house_intake +
						'人</h4>' +
						'<h3>' + info.house[i].house_name + '</h3></a></div>';
					$("#house").append(html);
				}
				$("#comment").empty();
				$("#comment").append('<h2 style="color: gray;"><b>' + info.user_comment == null?0:info.user_comment.length + '条评价</b></h2><br>');
				for (let i = 0; i < info.user_comment.length; i++) {
					html = '<div ><div class="layui-col-xs10">' +
						'<a href="home.html?house_id=' + info.user_comment[i].house_id + '">' + info.user_comment[i].house_name +
						'</a></div>' +
						'<div class="layui-col-xs2"><img src="../../' + info.user_comment[i].house_img + '" width="60px">' +
						'</div><br><br><br><h3>' + info.user_comment[i].houseCom_content + '</h3><br><a href="">' +
						'<img style="border-radius: 50%;" width="50px" height="50px" src="../../' + info.user_comment[i].user_img + '">' +
						'<h2 style="margin-left: 80px; margin-top: -50px;">' + info.user_comment[i].user_name + '</h2>' +
						'<h3 style="margin-left: 80px; margin-top: 0px;">' + info.user_comment[i].houseCom_date +
						'</h3><br></a><hr></div><br><br>';
					$("#comment").append(html);
				}
			}

		}


		//获取Cookie
		function getCookie(cname) {
			var name = cname + "=";
			var decodedCookie = decodeURIComponent(document.cookie);
			var ca = decodedCookie.split(';');
			for (var i = 0; i < ca.length; i++) {
				var c = ca[i];
				while (c.charAt(0) == ' ') {
					c = c.substring(1);
				}
				if (c.indexOf(name) == 0) {
					return c.substring(name.length, c.length);
				}
			}
			return "";
		}
		//充值
		$("#recharge").on("click", function() {
			html = '<div style="width: 500px;height: 420px;">' +
				'<div style="text-align: center;"><br><br><h1>QUADRAL币</h1><h2>充值人：' + userInfo.user_name +
				'</h2><br><hr ></div>' +
				'<div ><h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;充值金额：</h4><br><div class="layui-col-xs12">' +
				'&nbsp;&nbsp;&nbsp;<button style="width: 110px;height: 50px;" type="button" class="layui-btn layui-bg-green moneyBtn">￥500</button>' +
				'<button  style="width: 110px;height: 50px;" type="button" class="layui-btn layui-btn-primary  moneyBtn">￥1000</button>' +
				'<button style="width: 110px;height: 50px;" type="button" class="layui-btn layui-btn-primary  moneyBtn">￥1000</button>' +
				'<button style="width: 110px;height: 50px;" type="button" class="layui-btn layui-btn-primary  moneyBtn">￥2000</button>' +
				'</div><div  style="text-align: center;"><h3>请用支付宝扫码：</h3><br><img src="../../img/pay.jpg"  width="180px"></div></div></div>';
			recharge(html);
		});

		function recharge(html) {
			var index = layer.open({
				type: 1,
				title: false,
				closeBtn: true,
				area: ['500px', '440px'],
				offset: 'auto',
				shade: 0.1,
				content: html,
				shadeClose: true
			});
		}
		$("body").on("click", ".moneyBtn", function() {
			$(".moneyBtn").attr("class", "layui-btn layui-btn-primary moneyBtn");
			$(this).attr("class", "layui-btn layui-bg-green moneyBtn");
			var money = $(this).text().toString().substring(1);
			alert(money)
		});
	</script>
	<script>
		layui.use(['form', 'element', 'layer', 'laypage'], function() {
			var form = layui.form,
				$ = layui.jquery,
				layer = layui.layer,
				element = layui.element,
				laypage = layui.laypage;
			form.on('select(person)', function(data) {
				personNum = data.value;
			});

			//分页
			//总页数大于页码总数
			laypage.render({
				elem: 'demo',
				limit: 7,
				count: 70 //数据总数
					,
				jump: function(obj) {
					console.log(obj)
				}
			});

		});
	</script>
</html>
