<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>编辑个人信息</title>
		<script src="../../js/comment.js"></script>
		<link rel="stylesheet" type="text/css" href="../../layui/css/layui.css">
		<script src="../../js/jquery.min.js"></script>
		<script src="../../layui/layui.js"></script>
		<style type="text/css">
			#navId li a {
				font-size: 15px;
				color: white;
				font-weight: bold;
			}

			#rightNav {
				float: right;
			}

			#leftDiv {
				margin-top: 90px;
				position: absolute;
				width: 250px;
				height: 300px;
				margin-left: 350px;
				text-align: center;
			}

			#main {
				margin-top: 90px;
				position: absolute;
				width: 700px;
				margin-left: 700px;
			}
		</style>
	</head>
	<body>
		<div id="top">
			<ul class="layui-nav layui-bg-green" id="navId">
				<li class="layui-nav-item">
					<a href="../index.html">
						<img src="../../img/logo.jpg" style="border-radius: 50%;" width="49px" height="49px">
					</a>
				</li>
				<li class="layui-nav-item ">
					<form class="layui-form" action="">
						<input id="topSearch" style=" width: 400px;height:48px; font-weight: bold; font-size: 20px; " name="search"
						 placeholder="搜一搜" autocomplete="off" class="layui-input">
					</form>
				</li>
				<div id="rightNav">
					<li class="layui-nav-item"><a href="">故事</a></li>
					<li class="layui-nav-item" style="cursor: pointer;"><a class="NavA" data-method="login">注册</a></li>
					<li class="layui-nav-item" style="cursor: pointer;"><a class="NavA" data-method="login">登录</a></li>
				</div>
			</ul>
		</div>
		<div id="leftDiv">
			<br><br><a href="modifyInfo.html">
				<h2>编辑个人资料</h2>
			</a><br><br>
			<a href="findPwd.html">
				<h2>安全</h2>
			</a><br><br>
			<a href="image.html">
				<h2>照片</h2>
			</a><br><br>
			<a href="comment.html">
				<h2><b>我的评论</b></h2>
			</a><br><br>
			<a href="#" id="myIndex" class="layui-btn layui-btn-primary">查看我的个人资料</a>
		</div>
		<div id="main">
			<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
				<ul class="layui-tab-title">
					<li class="layui-this" id="t1">对于您的评价</li>
					<li id="t2">您写的评价</li>
				</ul>
				<br><br>
				<div class="layui-tab-content" style="border: 1px solid grey;height: 100%; ">
					<div class="layui-tab-item layui-show">
						<div style="height: 40px;background-color: #F2F4F5; line-height: 40px;">
							<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;过往评价</h3>
						</div><br><br>
						<div id="comment1" style="width: 93%;">
							<h3>预订的住宿结束后才能在QuadraL网站上撰写评价。您收到的评价将出现在这里以及您公开的个人资料中。</h3>
							<br>
							<h4>尚未有人对您进行评价。</h4>

						</div>
					</div>
					<div class="layui-tab-item ">
						<div style="height: 40px;background-color: #F2F4F5; line-height: 40px;">
							<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;撰写评论</h3>
						</div><br><br>
						<div id="comment2" style="width: 93%;">
							<h4>尚未进行评价。</h4>
						</div>
					</div>
				</div>
			</div><br>
		</div>
	</body>
	<script type="text/javascript">
		var noticeInfo = null;
		var userInfo = null;
		var comInfo = []
		json = getCookie('userInfo');
		if (json != '' || json == null) {
			jsonInfo = JSON.parse(json);
			if (jsonInfo != null) {
				userInfo = jsonInfo;
				console.log(userInfo);
			}
		}

		//初始化导航栏
		if (userInfo != null) {
			var html = '<li class="layui-nav-item " id="china"> <a href="../user/myOrder.html" >房源订单中心</a></li>' +
				'<li class="layui-nav-item"><a href="../story/index.html">故事</a></li>' +
				'<li class="layui-nav-item"><a href="javascript:;" id="notice">消息<span id="dot" class="layui-badge-dot"></span></a> </li>' +
				' <li class="layui-nav-item" lay-unselect=""><a href="javascript:;"><img src="../../' +
				userInfo.user_headimg_url + '" class="layui-nav-img">' + userInfo.user_name + '</a> ' +
				'<dl class="layui-nav-child"><dd><a href="../host/landlord.html?user_id=' + userInfo.user_id +
				'"  style="color: gray;">个人中心</a></dd>' +
				' <dd><a href="../user/modifyInfo.html" style="color: gray;">修改信息</a></dd><dd><a href="../index.html" id="quit" style="color: gray;">退了</a></dd></dl>';
			$("#rightNav").empty();
			$("#rightNav").append(html);
			if (userInfo.is_landlord == 1) {
				$("#china").after('<li class="layui-nav-item "> <a href="javascript:;">我的房源</a>' +
					'<dl class="layui-nav-child"><dd><a href="../user/landlordOrder.html"  style="color: gray;">订单信息</a></dd>' +
					' <dd><a href="myHouse.html" style="color: gray;">房源信息</a></dd></dl>' + '</li>' +
					'<li class="layui-nav-item "><a href="../host/create_a_room/room.html">添加房源</a></li>');
			} else {
				$("#china").after('<li class="layui-nav-item "> <a href="../host/create_a_room/become.html">成为房东</a></li>');
			}
		}
		//退出按钮监听
		$("body").on("click", "#quit", function() {
			setCookie("userInfo", null, 0.1);
		});
		$("#editTel").on("click", function() {
			html = '';
		});
		//设置cookie
		function setCookie(cname, cvalue, exdays) {
			var d = new Date();
			d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
			var expires = "expires=" + d.toUTCString();
			document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
		}

		//获取Cookie
		function getCookie(cname) {
			var name = cname + "=";
			var decodedCookie = decodeURIComponent(document.cookie);
			var ca = decodedCookie.split(';');
			for (var i = 0; i < ca.length; i++) {
				var c = ca[i];
				while (c.charAt(0) == ' ') {
					c = c.substring(1);
				}
				if (c.indexOf(name) == 0) {
					return c.substring(name.length, c.length);
				}
			}
			return "";
		}
		getUserComment();
		getMyComment();

		function getUserComment() {
			$.getJSON(basePath + "user.do?method=getUserComment", {
				"user_id": userInfo.user_id
			}, function(result) {
				comInfo = result.commentInfo;
				console.log(comInfo)
				if (comInfo != null) {
					$("#comment1").empty();
					$("#comment1").append('<h2 style="color: gray;"><b>' + comInfo.length + '条评价</b></h2><br>');
					for (let i = 0; i < comInfo.length; i++) {
						html = '<div ><div class="layui-col-xs10">' +
							'<a href="home.html?house_id=' + comInfo[i].house_id + '">' + comInfo[i].house_name +
							'</a></div>' +
							'<div class="layui-col-xs2"><img src="../../' + comInfo[i].house_img_url + '" width="60px">' +
							'</div><br><br><br><h3>' + comInfo[i].houseCom_content + '</h3><br><a href="">' +
							'<img style="border-radius: 50%;" width="50px" height="50px" src="../../' + comInfo[i].user_headimg_url + '">' +
							'<h2 style="margin-left: 80px; margin-top: -50px;">' + comInfo[i].user_name + '</h2>' +
							'<h3 style="margin-left: 80px; margin-top: 0px;">' + comInfo[i].houseCom_date +
							'</h3><br></a><hr></div><br><br>';
						$("#comment1").append(html);
					}
				} else {
					$("#comment1").empty();
					$("#comment1").append("<h3>预订的住宿结束后才能在QuadraL网站上撰写评价。您收到的评价将出现在这里以及您公开的个人资料中。</h3><br><h4>尚未有人对您进行评价。</h4>")
				}
			});
		}

		function getMyComment() {
			$.getJSON(basePath + "user.do?method=getMyComment", {
				"user_id": userInfo.user_id
			}, function(result) {
				comInfo = result.commentInfo;
				if (comInfo != null) {
					$("#comment2").empty();
					$("#comment2").append('<h2 style="color: gray;"><b>' + comInfo.length + '条评价</b></h2><br>');
					for (let i = 0; i < comInfo.length; i++) {
						html = '<div ><div class="layui-col-xs10">' +
							'<a href="home.html?house_id=' + comInfo[i].house_id + '">' + comInfo[i].house_name +
							'</a></div>' +
							'<div class="layui-col-xs2"><img src="../../' + comInfo[i].house_img_url + '" width="60px">' +
							'</div><br><br><br><h3>' + comInfo[i].houseCom_content + '</h3><br><hr></div><br><br>';
						$("#comment2").append(html);
					}
				} else {
					$("#comment2").empty();
					$("#comment2").append("<h3>预订的住宿结束后才能在QuadraL网站上撰写评价。您收到的评价将出现在这里以及您公开的个人资料中。</h3><br><h4>尚未有人对您进行评价。</h4>")
				}
			});
		}

		$("#t1").on("click", function() {
			getUserComment();
		});
		$("#t2").on("click", function() {
			getMyComment();
		});

		$("#myIndex").on("click", function() {
			location.href = "../host/landlord.html?user_id=" + userInfo.user_id;
		});
		//通知
		function notice(html) {
			index = layer.open({
				type: 1,
				title: false,
				closeBtn: false,
				area: '320px',
				offset: ['50px', '1450px'],
				shade: 0.1,
				content: html,
				shadeClose: true
			});
		}
		//点击通知
		$("body").on("click", "#notice", function() {
			if (noticeInfo == null || noticeInfo.length == 0) {
				html =
					'<div style="width: 300px;height: 100%;"><div style="font-size:20px;text-align: center;" class="layui-col-xs10">消息(0)</div>' +
					'<br><br><hr><div id="content"><div style="margin-left: 90px;color: #31B0D5"><h2>暂无消息</h2><br></div>' +
					'</div></div>';
			} else {
				html =
					'<div style="width: 300px;height: 100%;"><div style="font-size:20px;text-align: left;" class="layui-col-xs10">消息(' +
					noticeInfo.length +
					') </div><div class="layui-col-xs2"style="text-align: right;"  ><button id="done" class="layui-btn layui-btn-primary layui-btn-sm">已读</button></div>' +
					'<br><br><hr><div id="content">';
				for (let i = 0; i < noticeInfo.length; i++) {
					h = '<div style="margin-left: 10px;color: #31B0D5"><div class="layui-col-xs9">' +
						'<h3>' + noticeInfo[i].notice_content + '</h3></div>' +
						'<div class="layui-col-xs3"><h5 style="margin-top:4px;">' + noticeInfo[i].notice_date + '</h5></div>' +
						'</div><br><br>';
					html = html + h;
				}
				html += '</div></div>';
			}
			notice(html);
		});

		function getNoticeInfo() {
			$.getJSON(basePath + "user.do?method=getNoticeByUserID", {
				"user_id": userInfo.user_id
			}, function(result) {
				noticeInfo = result.noticeInfo;
				console.log(noticeInfo)
				if (noticeInfo != null) {} else {
					$("#dot").remove();
				}
			});
		}
		//点击已读
		$("body").on("click", "#done", function() {
			$.getJSON(basePath + "user.do?method=updateNotice", {
				"user_id": userInfo.user_id
			}, function(res) {
				noticeInfo = null;
				layer.closeAll();
			});
		});
	</script>
	<script>
		layui.use(['form', 'element', 'layer', 'laypage', 'carousel'], function() {
			var form = layui.form,
				$ = layui.jquery,
				layer = layui.layer,
				element = layui.element,
				laypage = layui.laypage,
				carousel = layui.carousel;

		});
	</script>
</html>
